{% extends 'bo/layout_back.html.twig' %}

{% block title 'Pimp My CV' %}

{% block content %}

<!-- DF - FIN HEAD, NAVTOP ET NAVSIDE -->

        <!-- DF - DEBUT CONTENU -->

        <div id="page-wrapper">

            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Gestion des membres
                            <small>Consulter | Créer | Modifier | Supprimer</small>

                        </h1>
                        <ol class="breadcrumb">
                            <li>
                                <i class="fa fa-dashboard"></i>  <a href="index.html">Dashboard</a>
                            </li>
                            <li class="active">
                                <i class="fa fa-file"></i> Blank Page
                            </li>
                        </ol>
                    </div>
                </div>
                <!-- /.row -->

                <!-- DF - DEBUT TABLEAU DES MEMBRES -->

                <div class="row">

                    <div class="col-lg-12">
                        <h2>Tableau des membres</h2>
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover table-striped">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Email</th>
                                        <th>Nom</th>
                                        <th>Prénom</th>
                                        <th>Date de naissance</th>
                                        <th>Téléphone</th>
                                        <th>Adresse</th>
                                        <th>Code Postal</th>
                                        <th>Ville</th>
                                        <th>Pays</th>
                                        <th>Statut membre</th>
                                        <th>Date d'inscription</th>
                                        <th>Rôle</th>
                                        <th colspan="3">Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>{{ membre.id }}</td>
                                        <td>{{ membre.email }}</td>
                                        <td>{{ membre.nom }}</td>
                                        <td>{{ membre.prenom }}</td>
                                        <td>{{ membre.date_naissance }}</td>
                                        <td>{{ membre.telephone }}</td>
                                        <td>{{ membre.adresse }}</td>
                                        <td>{{ membre.code_postal }}</td>
                                        <td>{{ membre.ville }}</td>
                                        <td>{{ membre.pays }}</td>
                                        <td>{{ membre.statut_membre }}</td>
                                        <td>{{ membre.date_inscription }}</td>
                                        <td>{{ membre.role }}</td>
                                        <td><a href="#"><span class="glyphicon glyphicon-search"></span></a></td>
                                        <td><span class="glyphicon glyphicon-edit"></span></td>
                                        <td><span class="glyphicon glyphicon-trash"></span></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <!-- FIN TABLEAU DES MEMBRES -->

                <!-- DF - DEBUT FORMULAIRE -->

                <form role="form" method="POST">

                    <div class="row">

                        <div class="col-lg-6"> <!-- formulaire coté gauche -->

                            <input type="hidden" name="id_salle" value="{{ membre.id }}" />

                            <div class="form-group">
                                <label>Email</label>
                                <input class="form-control" placeholder="email" name="titre" value="{{ membre.email }}">
                            </div>

                            <div class="form-group">
                                <label>Nom</label>
                                <input class="form-control" placeholder="Nom" name="nom" value="{{ membre.nom }}">
                            </div>

                            <div class="form-group">
                                <label>Prénom</label>
                                <input class="form-control" placeholder="Prenom" name="prenom" value="{{ membre.prenom }}">
                            </div>

                            <div class="form-group">
                                <label>Date de naissance</label>
                                <input class="form-control" placeholder="Date de naissance" name="date_naissance" value="{{ membre.date_naissance }}">
                            </div>

                            <div class="form-group">
                                <label>Téléphone</label>
                                <input class="form-control" placeholder="Téléphone" name="telephone" value="{{ membre.telephone }}">
                            </div>

                            <div class="form-group">
                                <label>Adresse</label>
                                <input class="form-control" placeholder="Adresse" name="adresse" value="{{ membre.adresse }}">
                            </div>

                        </div>

                        <div class="col-lg-6"> <!-- formulaire coté droit -->

                            <div class="form-group">
                                <label>Code Postal</label>
                                <input class="form-control" placeholder="Code Postal" name="code_postal" value="{{ membre.code_postal }}">
                            </div>

                            <div class="form-group">
                                <label>Ville</label>
                                <input class="form-control" placeholder="Ville" name="ville" value="{{ membre.ville }}">
                            </div>

                            <div class="form-group">
                                <label>Pays</label>
                                <input class="form-control" placeholder="Pays" name="pays" value="{{ membre.pays }}">
                            </div>

                            <div class="form-group">
                            <label>Statut membre</label>
                            <select class="form-control" name="statut_membre" value="{{ membre.statut_membre }}">
                                <option selected="" value="enregistre">Enregistré</option>
                                <option selected="" value="paye">Payé</option>
                            </select>
                            </div>

                            <div class="form-group">
                                <label>Date d'inscription</label>
                                <input class="form-control" placeholder="Date d'inscription" name="date_inscription" value="{{ membre.date_inscription }}">
                            </div>

                            <div class="form-group">
                                <label>Rôle</label>
                                <input class="form-control" placeholder="Rôle (administrateur ou utilisateur" name="role" value="{{ membre.role }}">
                            </div>

                            <button type="submit" class="btn btn-default">Enregistrer</button>

                        </div>

                    </div>

                </form>

                <!-- FIN FORMULAIRE -->

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->


{% endblock %}
