{% extends 'bo/layout_back.html.twig' %}

{% block title 'Pimp My CV' %}

{% block content %}

    <!-- Didier - FIN HEAD, NAVTOP ET NAVSIDE -->

        <!-- Didier - DEBUT CONTENU -->

        <div id="page-wrapper">

            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Gestion des membres
                            <small>Consulter | Ajouter | Modifier | Supprimer</small>
                        </h1>
                        <ol class="breadcrumb">
                            <li>
                                <i class="fa fa-dashboard" aria-hidden="true"></i> <a href="{{ path('accueil') }}">Dashboard</a>
                            </li>
                        </ol>
                    </div>
                </div>
                <!-- /.row -->

                <!-- Didier - DEBUT TABLEAUX DU CV -->

                <div class="row">

                    <div class="col-lg-12">
                        <h2>Tableaux du CV</h2>

                        <div class="row">
                            <div class="col-lg-2">
                                <ol class="breadcrumb">
                                    <li>

                                        <!-- Didier - Bouton ajouter un CV -->

                                        <a href="#"></i> Ajouter un membre</a>
                                    </li>
                                </ol>
                            </div>
                        </div>

                        <!-- Didier - TABLEAU 1 : ID, Fichier CV, Stucture CV, Design CV, Identité, Coordonnées, Infos perso, Réseaux sociaux et web -->

                        <div class="table-responsive">
                            <table class="table table-bordered table-hover table-striped">
                                <thead>
                                    <tr>

                                        <!-- Didier - Partie ID -->
                                        <th>ID CV</th>
                                        <th>ID Membre</th>

                                        <!-- Didier - Partie Fichier CV téléchargé -->
                                        <th>Fichier CV</th>

                                        <!-- Didier - Partie Structure du CV -->
                                        <th>Nombre de section(s)</th>
                                        <th>Nombre de page(s)</th>

                                        <!-- Didier - Partie Design du CV -->
                                        <th>Template</th>
                                        <th>Couleur</th>
                                        <th>Puce</th>
                                        <th>Fond</th>
                                        <th>Indicateur de performance</th>
                                        <th>Activité(s)</th>

                                        <!-- Didier - Partie Identité -->
                                        <th>Photo</th>
                                        <th>Prénom</th>
                                        <th>Nom</th>
                                        <th>Date de naissance</th>
                                        <th>Nationalité</th>

                                        <!-- Didier - Partie Coordonnées -->
                                        <th>Email du CV</th>
                                        <th>Téléphone</th>
                                        <th>Adresse</th>
                                        <th>Code Postal</th>
                                        <th>Ville</th>
                                        <th>Pays</th>

                                        <!-- Didier - Partie Informations personnelles -->
                                        <th>Famille</th>
                                        <th>Langue maternelle</th>
                                        <th>Permis de conduire</th>
                                        <th>Permis de travail</th>

                                        <!-- Didier - Partie Réseaux sociaux et web -->
                                        <th>Twitter</th>
                                        <th>LinkedIn</th>
                                        <th>Skype</th>
                                        <th>Site perso</th>
                                        <th>URL autre</th>

                                        <th colspan="2">Actions</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    <tr>

                                        <!-- Didier - Partie ID -->
                                        <td>{{ cv.id }}</td>
                                        <td>{{ cv.id_membre }}</td>

                                        <!-- Didier - Partie Fichier CV téléchargé -->
                                        <td>{{ cv.fichier_cv }}</td>

                                        <!-- Didier - Partie Structure du CV -->
                                        <td>{{ cv.nombre_sections }}</td>
                                        <td>{{ cv.nombre_page }}</td>

                                        <!-- Didier - Partie Design du CV -->
                                        <td>{{ cv.template }}</td>
                                        <td>{{ cv.couleur }}</td>
                                        <td>{{ cv.puce }}</td>
                                        <td>{{ cv.fond }}</td>
                                        <td>{{ cv.indicateur_performance }}</td>
                                        <td>{{ cv.activite }}</td>

                                        <!-- Didier - Partie Identité -->
                                        <td>{{ cv.photo }}</td>
                                        <td>{{ membre.prenom }}</td>
                                        <td>{{ membre.nom }}</td>
                                        <td>{{ membre.date_naissance }}</td>
                                        <td>{{ cv.nationnalite }}</td>

                                        <!-- Didier - Partie Coordonnées -->
                                        <td>{{ cv.email_cv }}</td>
                                        <td>{{ membre.telephone }}</td>
                                        <td>{{ membre.adresse }}</td>
                                        <td>{{ membre.code_postal }}</td>
                                        <td>{{ membre.ville }}</td>
                                        <td>{{ membre.pays }}</td>

                                        <!-- Didier - Partie Informations personnelles -->
                                        <td>{{ cv.famille }}</td>
                                        <td>{{ cv.langue_maternelle }}</td>
                                        <td>{{ cv.permis_conduire }}</td>
                                        <td>{{ cv.permis_travail }}</td>

                                        <!-- Didier - Partie Réseaux sociaux -->
                                        <td>{{ cv.twitter }}</td>
                                        <td>{{ cv.linkedin }}</td>
                                        <td>{{ cv.skype }}</td>
                                        <td>{{ cv.site_perso }}</td>
                                        <td>{{ cv.url_autre }}</td>


                                        <!-- Didier - Bouton modifier l'identité, les infos perso... -->

                                        <td><a href="#"></i></a></td>

                                        <!-- Didier - Bouton supprimer l'identité, les infos perso... -->

                                        <td><a href="#"></a></td>

                                    </tr>

                                </tbody>
                            </table>
                        </div>
                        <!-- Didier - FIN TABLEAU 1 -->





            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

{% endblock %}
