{% extends 'bo/layout_back.html.twig' %}

{% block title 'Pimp My CV' %}

{% block content %}

    <!-- Didier - FIN HEAD, NAVTOP ET NAVSIDE -->

        <!-- Didier - DEBUT CONTENU -->

        <div id="page-wrapper">

            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Gestion du CV du membre {{ cv.idMembre }}
                            <small>Consulter</small>
                        </h1>
                        <ol class="breadcrumb">
                            <li>
                                <i class="fa fa-dashboard" aria-hidden="true"></i> <a href="{{ path('accueil') }}">Accueil</a>
                            </li>
                        </ol>
                    </div>
                </div>
                <!-- /.row -->


                <div class="row">

                    <div class="col-lg-12">
                        <h2>CV n°{{ cv.id }} du membre <small>|  <a href="#donneesbrutscv">Données brutes du CV</a>  |</small></h2>
                    </div>
                </div>

                <!-- Didier - DEBUT TABLEAUX DU CV -->

                <div class="row">

                    <div class="col-lg-12">
                        <h3>Infos commande et design</h3>

                        <!-- Didier - TABLEAU 1 : infos commande et design -->

                        <div class="table-responsive">
                            <table style="display: none;" class="myTable table table-bordered table-hover table-striped">
                                <colgroup>
                                    <col class="col-md-2">
                                </colgroup>
                                <thead>
                                    <tr>

                                        <!-- Didier - Partie ID -->
                                        <th>ID CV</th>
                                        <th>ID Membre</th>

                                        <!-- Didier - Partie Fichier CV téléchargé -->
                                        <th>Fichier CV</th>

                                        <!-- Didier - Partie Structure du CV -->
                                        <th>Nombre de section(s)</th>
                                        <th>Nombre de page(s)</th>

                                        <!-- Didier - Partie Design du CV -->
                                        <th>Template</th>
                                        <th>Couleur</th>
                                        <th>Puce</th>
                                        <th>Fond</th>
                                        <th>Indicateur de performance</th>
                                        <th>Activité(s)</th>

                                    </tr>
                                </thead>
                                <tbody>

                                    <tr>

                                    <!-- En hidden :
                                            - table expérience : id, id_cv
                                            - table formation : id, id_cv
                                            - table aptitude : id, id_cv
                                     -->

                                        <!-- Didier - Partie ID -->
                                        <td>{{ cv.id }}</td>
                                        <td>{{ cv.idMembre }}</td>

                                        <!-- Didier - Partie Fichier CV téléchargé -->
                                        <td>{{ membre.cv }}</td>

                                        <!-- Didier - Partie Structure du CV -->
                                        <td>{{ cv.nombreSections }}</td>
                                        <td>{{ cv.nombrePage }}</td>

                                        <!-- Didier - Partie Design du CV -->
                                        <td>{{ options.template }}</td>
                                        <td>{{ options.couleur }}</td>
                                        <td>{{ options.puce }}</td>
                                        <td>{{ options.fond }}</td>
                                        <td>{{ options.indicateurPerformance }}</td>
                                        <td>{{ options.activite }}</td>

                                    </tr>


                                </tbody>
                            </table>

                        </div>

                        <!-- Didier - FIN TABLEAU 1 -->

                    </div>

                </div>


                <div class="row">

                    <div class="col-lg-12">
                        <h3>Identité, coordonnées...</h3>

                        <!-- Didier - TABLEAU 2 : ID, Fichier CV, Stucture CV, Design CV, Identité, Coordonnées, Infos perso, Réseaux sociaux et web -->

                        <div class="table-responsive">
                            <table style="display: none;" class="myTable table table-bordered table-hover table-striped">
                                <colgroup>
                                    <col class="col-md-2">
                                </colgroup>
                                <thead>
                                    <tr>

                                        <!-- Didier - Partie Identité -->
                                        <th>Photo</th>
                                        <th>Prénom</th>
                                        <th>Nom</th>
                                        <th>Date de naissance</th>
                                        <th>Nationalité</th>

                                        <!-- Didier - Partie Coordonnées -->
                                        <th>Email du CV</th>
                                        <th>Téléphone</th>
                                        <th>Adresse</th>
                                        <th>Code Postal</th>
                                        <th>Ville</th>
                                        <th>Pays</th>

                                        <!-- Didier - Partie Informations personnelles -->
                                        <th>Famille</th>
                                        <th>Langue maternelle</th>
                                        <th>Permis de conduire</th>
                                        <th>Permis de travail</th>

                                        <!-- Didier - Partie Réseaux sociaux et web -->
                                        <th>Twitter</th>
                                        <th>LinkedIn</th>
                                        <th>Skype</th>
                                        <th>Site perso</th>
                                        <th>URL autre</th>

                                    </tr>
                                </thead>
                                <tbody>

                                    <tr>

                                        <!-- Didier - Partie Identité -->
                                        <td>{{ cv.photo }}</td>
                                        <td>{{ membre.prenom }}</td>
                                        <td>{{ membre.nom }}</td>
                                        <td>{{ membre.dateNaissance }}</td>
                                        <td>{{ cv.nationalite }}</td>

                                        <!-- Didier - Partie Coordonnées -->
                                        <td>{{ cv.emailCv }}</td>
                                        <td>{{ membre.telephone }}</td>
                                        <td>{{ membre.adresse }}</td>
                                        <td>{{ membre.codePostal }}</td>
                                        <td>{{ membre.ville }}</td>
                                        <td>{{ membre.pays }}</td>

                                        <!-- Didier - Partie Informations personnelles -->
                                        <td>{{ cv.famille }}</td>
                                        <td>{{ cv.langueMaternelle }}</td>
                                        <td>{{ cv.permisConduire }}</td>
                                        <td>{{ cv.permisTravail }}</td>

                                        <!-- Didier - Partie Réseaux sociaux -->
                                        <td>{{ cv.twitter }}</td>
                                        <td>{{ cv.linkedin }}</td>
                                        <td>{{ cv.skype }}</td>
                                        <td>{{ cv.sitePerso }}</td>
                                        <td>{{ cv.urlAutre }}</td>

                                    </tr>

                                </tbody>
                            </table>

                        </div>

                        <!-- Didier - FIN TABLEAU 2 -->

                    </div>

                </div>


                <div class="row">

                    <div class="col-lg-12">
                        <h3>Formation et certification</h3>

                        <!-- Didier - TABLEAU 3 : formation -->

                        <div class="table-responsive">
                            <table style="display: none;" class="myTable table table-bordered table-hover table-striped">
                                <colgroup>
                                    <col class="col-md-2">
                                </colgroup>
                                <thead>
                                    <tr>

                                        <!-- Didier - Partie Formation/formation -->
                                        <!-- Didier - Partie Formation/certification -->
                                        <th>Type (formation / certfication)</th><!-- type = formation -->
                                        <th>Diplôme</th>
                                        <th>Etablissement</th>
                                        <th>Spécialité</th>
                                        <th>Lieu</th>
                                        <th>Date d'obtention</th>
                                        <th>Site web</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    {% for formatio in formation %}
                                    <tr>

                                    <!-- En hidden :
                                            - table formation : id, id_cv
                                     -->

                                        <!-- Didier - Partie Formation/formation -->
                                        <!-- Didier - Partie Formation/certification -->
                                        <td>{{ formatio.type }}</td><!-- type = formation -->
                                        <td>{{ formatio.diplome }}</td>
                                        <td>{{ formatio.etablissement }}</td>
                                        <td>{{ formatio.specialite }}</td>
                                        <td>{{ formatio.lieu }}</td>
                                        <td>{{ formatio.dateObtention }}</td>
                                        <td>{{ formatio.urlFormation }}</td>

                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>

                        </div>

                        <!-- Didier - FIN TABLEAU 3 -->

                    </div>

                </div>


                <div class="row">

                    <div class="col-lg-12">
                        <h3>Expérience</h3>

                        <!-- Didier - TABLEAU 4 : experience -->

                        <div class="table-responsive">
                            <table style="display: none;" class="myTable table table-bordered table-hover table-striped">
                                <colgroup>
                                    <col class="col-md-2">
                                </colgroup>
                                <thead>
                                    <tr>

                                        <!-- Didier - Partie Expérience entreprise -->
                                        <!-- Didier - Partie Expérience bénévolat -->
                                        <th>Type (entreprise / bénévolat)</th>
                                        <th>Nom de l'entité</th>
                                        <th>Secteur<!-- Secteur : menu déroulant commun à expérience entreprise et expérience bénévolat --></th>
                                        <th>Effectif</th>
                                        <!-- <th>Description</th> -->
                                        <!-- <th>CA</th> -->
                                        <th>Site web</th>
                                        <th>Intitulé du poste</th>
                                        <th>Localisation du poste</th>
                                        <th>Rôle dans l'entité</th>
                                        <th>Date de début</th>
                                        <th>Date de fin</th>
                                        <th>Responsabilité 1</th>
                                        <th>Réalisation 1</th>
                                        <th>Responsabilité 2</th>
                                        <th>Réalisation 2</th>
                                        <th>Responsabilité 3</th>
                                        <th>Réalisation 3</th>
                                        <th>Responsabilité 4</th>
                                        <th>Réalisation 4</th>
                                        <th>Responsabilité 5</th>
                                        <th>Réalisation 5</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    {% for experienc in experience %}
                                    <tr>

                                    <!-- En hidden :
                                            - table expérience : id, id_cv
                                     -->

                                        <!-- Didier - Partie Expérience entreprise -->
                                        <!-- Didier - Partie Expérience bénévolat -->
                                        <td>{{ experienc.type }}</td><!-- type = entreprise -->
                                        <td>{{ experienc.nom }}</td>
                                        <td>{{ experienc.secteur }}</td>
                                        <td>{{ experienc.effectif }}</td>
                                        <!-- <td>experience.description</td> NON implémenté-->
                                        <!-- <td>experience.ca</td> NON implémenté-->
                                        <td>{{ experienc.urlExperience }}</td>
                                        <td>{{ experienc.poste }}</td>
                                        <td>{{ experienc.lieu }}</td>
                                        <td>{{ experienc.role }}</td>
                                        <td>{{ experienc.dateDebut }}</td>
                                        <td>{{ experienc.dateFin }}</td>
                                        <td>{{ experienc.responsabilite1 }}</td>
                                        <td>{{ experienc.realisation1 }}</td>
                                        <td>{{ experienc.responsabilite2 }}</td>
                                        <td>{{ experienc.realisation2 }}</td>
                                        <td>{{ experienc.responsabilite3 }}</td>
                                        <td>{{ experienc.realisation3 }}</td>
                                        <td>{{ experienc.responsabilite4 }}</td>
                                        <td>{{ experienc.realisation4 }}</td>
                                        <td>{{ experienc.responsabilite5 }}</td>
                                        <td>{{ experienc.realisation5 }}</td>

                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>

                        </div>

                        <!-- Didier - FIN TABLEAU 4 -->

                    </div>

                </div>

                <div class="row">

                    <div class="col-lg-12">
                        <h3>Aptitude</h3>

                        <!-- Didier - TABLEAU 5 : aptitude -->

                        <div class="table-responsive">
                            <table style="display: none;" class="myTable table table-bordered table-hover table-striped">
                                <colgroup>
                                    <col class="col-md-2">
                                </colgroup>
                                <thead>
                                    <tr>

                                        <!-- Didier - Partie Aptitudes (langue) -->
                                        <!-- Didier - Partie Aptitudes (competence) -->
                                        <!-- Didier - Partie Aptitudes (centre_interet) -->
                                        <th>Type (langue / centre d'intérêt / compétence)</th>
                                        <th>Nom</th>
                                        <th>Niveau</th>
                                        <th>Niveau TOEIC</th>
                                        <th>Niveau TOEFL</th>
                                        <th>Niveau IELTS</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    {% for aptitud in aptitude %}
                                    <tr>

                                    <!-- En hidden :
                                            - table aptitude : id, id_cv
                                     -->

                                        <!-- Didier - Partie Aptitudes (langue) -->
                                        <!-- Didier - Partie Aptitudes (competence) -->
                                        <!-- Didier - Partie Aptitudes (centre_interet) -->
                                        <td>{{ aptitud.type }}</td><!-- type = langue -->
                                        <td>{{ aptitud.nom }}</td>
                                        <td>{{ aptitud.niveau }}</td>
                                        <td>{{ aptitud.TOEIC }}</td>
                                        <td>{{ aptitud.TOEFL }}</td>
                                        <td>{{ aptitud.IELTS }}</td>

                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>

                        </div>

                        <!-- Didier - FIN TABLEAU 5 -->

                    </div>

                </div>

                <div class="row">

                    <div class="col-lg-12">
                        <h3>Info / Voyage / Divers</h3>

                        <!-- Didier - TABLEAU 6 : aptitude -->

                        <div class="table-responsive">
                            <table style="display: none;" class="myTable table table-bordered table-hover table-striped">
                                <colgroup>
                                    <col class="col-md-2">
                                </colgroup>
                                <thead>
                                    <tr>

                                    <!-- En hidden :
                                            - table autre_info : id, id_cv
                                     -->

                                        <!-- Didier - Partie Autre info (info) -->
                                        <!-- Didier - Partie Autre info (voyage) -->
                                        <!-- Didier - Partie Autre info (divers) -->
                                        <th>Type (info / voyage / divers)</th>
                                        <th>Description</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for autre_inf in autre_info %}
                                    <tr>
                                    <!-- En hidden :
                                            - table autre_info : id, id_cv
                                     -->

                                        <!-- Didier - Partie Autre info (info) -->
                                        <!-- Didier - Partie Autre info (voyage) -->
                                        <!-- Didier - Partie Autre info (divers) -->
                                        <td>{{ autre_inf.type }}</td>
                                        <td>{{ autre_inf.description }}</td>

                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>

                        </div>

                        <!-- Didier - FIN TABLEAU 6 -->

                    </div>

                </div>


                <!-- //////////////////////////////////////////////////////////// -->

                <!-- Didier - DEBUT - Affichage des données brutes CV pour copier/coller -->

                <div id="donneesbrutscv" class="row">

                    <div class="col-lg-12">
                        <h2>Données "brutes" du CV pour copier/coller</h2>
                    </div>
                </div>

                <!-- Didier - DEBUT TABLEAUX DU CV -->

                <div class="row">

                    <div class="col-lg-12">
                        <h3>Infos commande et design</h3>

                        <!-- Didier - TABLEAU 1 : infos commande et design -->

                        <!-- En hidden :
                            - table expérience : id, id_cv
                            - table formation : id, id_cv
                            - table aptitude : id, id_cv
                         -->

                        <!-- Didier - Partie ID -->
                        {{ cv.id }}<br/>
                        {{ cv.idMembre }}<br/>

                        <!-- Didier - Partie Fichier CV téléchargé -->
                        {{ membre.cv }}<br/>

                        <!-- Didier - Partie Structure du CV -->
                        {{ cv.nombreSections }}<br/>
                        {{ cv.nombrePage }}<br/>

                        <!-- Didier - Partie Design du CV -->
                        {{ options.template }}<br/>
                        {{ cv.couleur }}<br/>
                        {{ cv.puce }}<br/>
                        {{ cv.fond }}<br/>
                        {{ cv.indicateurPerformance }}<br/>
                        {{ cv.activite }}<br/>

                        <!-- Didier - FIN TABLEAU 1 -->

                    </div>

                </div>


                <div class="row">

                    <div class="col-lg-12">
                        <h3>Identité, coordonnées...</h3>

                        <!-- Didier - TABLEAU 2 : ID, Fichier CV, Stucture CV, Design CV, Identité, Coordonnées, Infos perso, Réseaux sociaux et web -->

                        <!-- Didier - Partie Identité -->
                        {{ cv.photo }}<br/>
                        {{ membre.prenom }}<br/>
                        {{ membre.nom }}<br/>
                        {{ membre.dateNaissance }}<br/>
                        {{ cv.nationalite }}<br/>

                        <!-- Didier - Partie Coordonnées -->
                        {{ cv.emailCv }}<br/>
                        {{ membre.telephone }}<br/>
                        {{ membre.adresse }}<br/>
                        {{ membre.codePostal }}<br/>
                        {{ membre.ville }}<br/>
                        {{ membre.pays }}<br/>

                        <!-- Didier - Partie Informations personnelles -->
                        {{ cv.famille }}<br/>
                        {{ cv.langueMaternelle }}<br/>
                        {{ cv.permisConduire }}<br/>
                        {{ cv.permisTravail }}<br/>

                        <!-- Didier - Partie Réseaux sociaux -->
                        {{ cv.twitter }}<br/>
                        {{ cv.linkedin }}<br/>
                        {{ cv.skype }}<br/>
                        {{ cv.sitePerso }}<br/>
                        {{ cv.urlAutre }}<br/>

                        <!-- Didier - FIN TABLEAU 2 -->

                    </div>

                </div>


                <div class="row">

                    <div class="col-lg-12">
                        <h3>Formation et certification</h3>

                        <!-- Didier - TABLEAU 3 : formation -->

                        {% for formatio in formation %}

                        <!-- En hidden :
                                - table formation : id, id_cv
                         -->

                        <!-- Didier - Partie Formation/formation -->
                        <!-- Didier - Partie Formation/certification -->
                        <strong>{{ formatio.type }}</strong><br/><!-- type = formation -->
                        {{ formatio.diplome }}<br/>
                        {{ formatio.etablissement }}<br/>
                        {{ formatio.specialite }}<br/>
                        {{ formatio.lieu }}<br/>
                        {{ formatio.dateObtention }}<br/>
                        {{ formatio.urlFormation }}<br/>

                        {% endfor %}

                        <!-- Didier - FIN TABLEAU 3 -->

                    </div>

                </div>


                <div class="row">

                    <div class="col-lg-12">
                        <h3>Expérience</h3>

                        <!-- Didier - TABLEAU 4 : experience -->

                        {% for experienc in experience %}

                        <!-- En hidden :
                                - table expérience : id, id_cv
                         -->

                        <!-- Didier - Partie Expérience entreprise -->
                        <!-- Didier - Partie Expérience bénévolat -->
                        <strong>{{ experienc.type }}</strong><br/><!-- type = entreprise -->
                        {{ experienc.nom }}<br/>
                        {{ experienc.secteur }}<br/>
                        {{ experienc.effectif }}<br/>
                        <!-- experience.description<br/> NON implémenté-->
                        <!-- experience.ca<br/> NON implémenté-->
                        {{ experienc.urlExperience }}<br/>
                        {{ experienc.poste }}<br/>
                        {{ experienc.lieu }}<br/>
                        {{ experienc.role }}<br/>
                        {{ experienc.dateDebut }}<br/>
                        {{ experienc.dateFin }}<br/>
                        {{ experienc.responsabilite1 }}<br/>
                        {{ experienc.realisation1 }}<br/>
                        {{ experienc.responsabilite2 }}<br/>
                        {{ experienc.realisation2 }}<br/>
                        {{ experienc.responsabilite3 }}<br/>
                        {{ experienc.realisation3 }}<br/>
                        {{ experienc.responsabilite4 }}<br/>
                        {{ experienc.realisation4 }}<br/>
                        {{ experienc.responsabilite5 }}<br/>
                        {{ experienc.realisation5 }}<br/>

                        {% endfor %}

                        <!-- Didier - FIN TABLEAU 4 -->

                    </div>

                </div>

                <div class="row">

                    <div class="col-lg-12">
                        <h3>Aptitude</h3>

                        <!-- Didier - TABLEAU 5 : aptitude -->

                        {% for aptitud in aptitude %}

                        <!-- En hidden :
                                - table aptitude : id, id_cv
                         -->

                        <!-- Didier - Partie Aptitudes (langue) -->
                        <!-- Didier - Partie Aptitudes (competence) -->
                        <!-- Didier - Partie Aptitudes (centre_interet) -->
                        <strong>{{ aptitud.type }}</strong><br/><!-- type = langue -->
                        {{ aptitud.nom }}<br/>
                        {{ aptitud.niveau }}<br/>
                        {{ aptitud.TOEIC }}<br/>
                        {{ aptitud.TOEFL }}<br/>
                        {{ aptitud.IELTS }}

                        {% endfor %}

                        <!-- Didier - FIN TABLEAU 5 -->

                    </div>

                </div>

                <div class="row">

                    <div class="col-lg-12">
                        <h3>Info / Voyage / Divers</h3>

                        <!-- Didier - TABLEAU 6 : aptitude -->

                        {% for autre_inf in autre_info %}
                        <!-- En hidden :
                                - table autre_info : id, id_cv
                         -->

                        <!-- Didier - Partie Autre info (info) -->
                        <!-- Didier - Partie Autre info (voyage) -->
                        <!-- Didier - Partie Autre info (divers) -->
                        <strong>{{ autre_inf.type }}</strong><br/>
                        {{ autre_inf.description }}<br/>

                        {% endfor %}

                        <!-- Didier - FIN TABLEAU 6 -->

                    </div>

                </div>

                <!-- Didier - FIN - Affichage des données CV pour copier/coller -->

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

{% endblock %}
