{% extends "layout.html.twig" %}

{% block content %}
	<!-- Page Title Start -->
        <section class="page-tittle page-tittle-xl kenburn-bg dark-overlay">
			<img class="kenburn-img" src="{{ asset('images/bg-2.jpg') }}" alt="">
			<div class="container">
				<div class="page-tittle-head">
					<h1>Qui sommes-nous ?</h1>
					<p>Pimp style !</p>
				</div>
			</div>
		</section>
        <!-- Page Title End -->
        
		
        <!-- About Start -->
		<section class="section-1">
			<div class="container">
				<div class="row">
					<div class="col-md-3">
						<h2 class="heading-1 mrg-top-150">Notre mission</h2>
					</div>
					<div class="col-md-4">
						<div class="pdd-right-30 mrg-top-90" data-parallax='{"y": 40}'>
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.It has survived not only five centuries,</p>
							<p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. </p>
						</div>
					</div>
					<div class="col-md-5">
						<img class="img-responsive img-style-2 mrg-btm-30" src="{{ asset('images/bg-3.jpg') }}" alt="homme barbu" data-parallax='{"y": -40}'>
					</div>
				</div>
			</div>
		</section>
		
		
		<section class="section-1">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-7">
						<div class="isotope masonry col-3 gutter-sm">
							<a href="#" class="folio-item">
								<div class="folio-style-2">
									<div class="folio-image">
										<img class="img-responsive" src="{{ asset('images/bg-3.jpg') }}" alt="homme barbu">
									</div><!-- /folio-image -->
									<div class="overlay">
										<div class="folio-caption">
											<h3 class="folio-tittle">L'équipe Pimp My CV</h3>
										</div><!-- /folio-caption -->
									</div><!-- /overlay -->
								</div><!-- folio-style -->
							</a><!-- /folio-item -->
							<a href="#" class="folio-item">
								<div class="folio-style-2">
									<div class="folio-image">
										<img class="img-responsive" src="{{ asset('images/bg-2.jpg') }}" alt="homme barbu et femme">
									</div><!-- /folio-image -->
									<div class="overlay">
										<div class="folio-caption">
											<h3 class="folio-tittle">Nos clients</h3>
										</div><!-- /folio-caption -->
									</div><!-- /overlay -->
								</div><!-- folio-style -->
							</a><!-- /folio-item -->
							<a href="#" class="folio-item">
								<div class="folio-style-2">
									<div class="folio-image">
										<img class="img-responsive" src="{{ asset('images/bg-1.jpg') }}" alt="bureau">
									</div><!-- /folio-image -->
									<div class="overlay">
										<div class="folio-caption">
											<h3 class="folio-tittle">Nos réalisations</h3>
										</div><!-- /folio-caption -->
									</div><!-- /overlay -->
								</div><!-- folio-style -->
							</a><!-- /folio-item -->
						</div><!-- /portfolio -->

					</div>
					<div class="col-md-offset-1 col-md-3">
						<div class="pdd-top-150" data-parallax='{"y": 40}'>
							<h2 class="heading-1 mrg-top-120">Notre projet</h2>
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially.
						</div>
					</div>
				</div>
			</div>
		</section>

		<section class="section-1">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-7">
						<div class="isotope masonry col-3 gutter-sm">
							<a href="#" class="folio-item">
								<div class="folio-style-2">
									<div class="folio-image">
										<img class="img-responsive" src="{{ asset('images/bg-3.jpg') }}" alt="homme barbu">
									</div><!-- /folio-image -->
									<div class="overlay">
										<div class="folio-caption">
											<h3 class="folio-tittle">Notre mission</h3>
										</div><!-- /folio-caption -->
									</div><!-- /overlay -->
								</div><!-- folio-style -->
							</a><!-- /folio-item -->
							<a href="#" class="folio-item">
								<div class="folio-style-2">
									<div class="folio-image">
										<img class="img-responsive" src="{{ asset('images/bg-2.jpg') }}" alt="homme barbu et femme">
									</div><!-- /folio-image -->
									<div class="overlay">
										<div class="folio-caption">
											<h3 class="folio-tittle">Nos valeurs</h3>
										</div><!-- /folio-caption -->
									</div><!-- /overlay -->
								</div><!-- folio-style -->
							</a><!-- /folio-item -->
							<a href="#" class="folio-item">
								<div class="folio-style-2">
									<div class="folio-image">
										<img class="img-responsive" src="{{ asset('images/bg-1.jpg') }}" alt="bureau">
									</div><!-- /folio-image -->
									<div class="overlay">
										<div class="folio-caption">
											<h3 class="folio-tittle">Notre engagement</h3>
										</div><!-- /folio-caption -->
									</div><!-- /overlay -->
								</div><!-- folio-style -->
							</a><!-- /folio-item -->
						</div><!-- /portfolio -->
					</div>
				</div>
			</div>
		</section>
		
		<section class="section-1">
			<div class="container">
				<div class="text-center">
					<h2 class="heading-1 text-center mrg-btm-30">Pourquoi <span class="theme-color">nous </span> choisir</h2>
					<p class="width-40 mrg-horizon-auto">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from.</p>
			    </div>
				<div class="row mrg-top-50">
					<div class="col-md-4 mrg-btm-30">
						<div class="features-block-5">
							<i class="ei ei-insurance"></i>
							<div class="features-info">
								<h4 class="features-tittle">Une équipe créative</h4>
								<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the.</p>
							</div>
						</div>
					</div>
					<div class="col-md-4 mrg-btm-30">
						<div class="features-block-5">
							<i class="ei ei-folder-check"></i>
							<div class="features-info">
								<h4 class="features-tittle">Un retour sur experience</h4>
								<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the.</p>
							</div>
						</div>
					</div>
					<div class="col-md-4 mrg-btm-30">
						<div class="features-block-5">
							<i class="ei ei-pencil"></i>
							<div class="features-info">

								<h4 class="features-tittle">Simplicité</h4>
								<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		
		

		<section class="section-4 fixed-bg bg dark-overlay" style="background-image:url({{ asset('images/bg-1.jpg') }})">
			<div class="container">
				<div class="row">
					<div class="col-md-12 text-center">
						<h2 class="mrg-btm-50">Avec Pimp My CV, votre réussite est proche</h2>
						<a class="btn btn-lg btn-theme border-radius-4">Être contacté</a>
					</div>
				</div>
			</div>
		</section>

        <!-- About End -->
{% endblock %}