{% extends "layout2.html.twig" %}

{% block content %}
	<!-- Page Tittle Start -->
		<section class="page-tittle page-tittle-md bg-white">
			

			<div class="container">						    
				<div class="page-tittle-head display-block text-center">
					<h1 class="font-size-45 font-weight-light ls-1-5">Modèles de CV</h1>
					<p>Réalisés par PimpMyCV</p>
				</div>
			</div>
		</section>
        <!-- Page Tittle End -->
        
        <!-- Portfolio Start -->
		<section class="section-5">
			<div class="container">
				<div class="isotope-filter filter-1 text-center">
					<a href="#" class="filter-item active" data-filter="*">Tout</a>
					<a href="#" class="filter-item" data-filter=".web-design"> Design</a>
					<a href="#" class="filter-item" data-filter=".branding">Branding</a>
					<a href="#" class="filter-item" data-filter=".apps">Applications</a>
					<a href="#" class="filter-item" data-filter=".photography">Photographie</a>
				</div>	
				<div class="portfolio isotope row col-2 gutter mrg-top-50">
					<div class="folio-item web-design">
                        <div class="folio-style-4">
                            <div class="folio-image">
                                <img class="img-responsive" src="{{ asset('images/modele-cv1.jpg') }}" alt="modele-cv1">
							</div>
                            <div class="overlay">
                                <div class="folio-caption">
                                    <div class="folio-content">
										<div class="folio-info">
											<h3 class="folio-tittle"></h3>
										</div>
										
										<div class="folio-action">
											<a class="lightbox-img" href="{{ asset('images/modele-cv1.jpg') }}" title="Voir l'image"><i class="ei ei-plus-boxed"></i></a>
											
										</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>	
					<div class="folio-item branding">
                        <div class="folio-style-4">
                            <div class="folio-image">
                                <img class="img-responsive" src="{{ asset('images/modele-cv2.jpg') }}" alt="modele-cv2">
							</div>
                            <div class="overlay">
                                <div class="folio-caption">
                                    <div class="folio-content">
										<div class="folio-info">
											<h3 class="folio-tittle"></h3>
										</div>
										<div class="folio-action">
											<a class="lightbox-img" href="{{ asset('images/modele-cv2.jpg') }}" title="Voir l'image"><i class="ei ei-plus-boxed"></i></a>
										</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
					<div class="folio-item web-design">
                        <div class="folio-style-4">
                            <div class="folio-image">
                                <img class="img-responsive" src="{{ asset('images/modele-cv3.jpg') }}" alt="modele-cv3">
							</div>
                            <div class="overlay">
                                <div class="folio-caption">
                                    <div class="folio-content">
										<div class="folio-info">
											<h3 class="folio-tittle"></h3>
										</div>
										<div class="folio-action">
											<a class="lightbox-img" href="{{ asset('images/modele-cv3.jpg') }}" title="Voir l'image"><i class="ei ei-plus-boxed"></i></a>
										</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
					<div class="folio-item apps">
                        <div class="folio-style-4">
                            <div class="folio-image">
                                <img class="img-responsive" src="{{ asset('images/modele-cv4.jpg') }}" alt="modele-cv4">
							</div>
                            <div class="overlay">
                                <div class="folio-caption">
                                    <div class="folio-content">
										<div class="folio-info">
											<h3 class="folio-tittle"></h3>
										</div>
										<div class="folio-action">
											<a class="lightbox-img" href="{{ asset('images/modele-cv4.jpg') }}" title="Voir l'image"><i class="ei ei-plus-boxed"></i></a>
										</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
					<div class="folio-item photography">
                        <div class="folio-style-4">
                            <div class="folio-image">
                                <img class="img-responsive" src="{{ asset('images/modele-cv1.jpg') }}" alt="modele-cv1">
							</div>
                            <div class="overlay">
                                <div class="folio-caption">
                                    <div class="folio-content">
										<div class="folio-info">
											<h3 class="folio-tittle"></h3>
											<span class="folio-sub-title"></span>
										</div>
										<div class="folio-action">
											<a class="lightbox-img" href="{{ asset('images/modele-cv1.jpg') }}" title="Voir l'image"><i class="ei ei-plus-boxed"></i></a>
										</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
					<div class="folio-item web-design">
                        <div class="folio-style-4">
                            <div class="folio-image">
                                <img class="img-responsive" src="{{ asset('images/modele-cv2.jpg') }}" alt="modele-cv2">
							</div>
                            <div class="overlay">
                                <div class="folio-caption">
                                    <div class="folio-content">
										<div class="folio-info">
											<h3 class="folio-tittle"></h3>
											<span class="folio-sub-title"></span>
										</div>
										<div class="folio-action">
											<a class="lightbox-img" href="{{ asset('images/modele-cv2.jpg') }}" title="Voir l'image"><i class="ei ei-plus-boxed"></i></a>
										</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
					<div class="folio-item apps">
                        <div class="folio-style-4">
                            <div class="folio-image">
                                <img class="img-responsive" src="{{ asset('images/modele-cv3.jpg') }}" alt="modele-cv3">
							</div>
                            <div class="overlay">
                                <div class="folio-caption">
                                    <div class="folio-content">
										<div class="folio-info">
											<h3 class="folio-tittle"></h3>
											<span class="folio-sub-title"></span>
										</div>
										<div class="folio-action">
											<a class="lightbox-img" href="{{ asset('images/modele-cv3.jpg') }}" title="Voir l'image"><i class="ei ei-plus-boxed"></i></a>
										</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
					<div class="folio-item branding">
                        <div class="folio-style-4">
                            <div class="folio-image">
                                <img class="img-responsive" src="{{ asset('images/modele-cv4.jpg') }}" alt="modele-cv4">
							</div>
                            <div class="overlay">
                                <div class="folio-caption">
                                    <div class="folio-content">
										<div class="folio-info">
											<h3 class="folio-tittle"></h3>
											<span class="folio-sub-title"></span>
										</div>
										<div class="folio-action">
											<a class="lightbox-img" href="{{ asset('images/modele-cv4.jpg') }}" title="Voir l'image"><i class="ei ei-plus-boxed"></i></a>
										</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
				</div>
			</div>
		</section>
		<!-- Portfolio End -->
{% endblock %}