{% extends "layout.html.twig" %}

{% block content %}

        <!-- Hero Start -->
        <section id="hero">
            <div class="fs-hero hero-img" style="background-image:url({{ asset('images/cv-entretien-embauche.jpg') }})">
				<div class="hero-caption text-white center-left">
                </div>
            </div>
        </section>
        <!-- Hero End -->

	</div>
	<!-- wrapper -->


    <!-- Modal Start -->
    <div class="modal fade modal-center load-active" id="password" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-body no-pdd">
                    <div class="login-panel pdd-horizon-15 pdd-vertical-30">

                        <h3 class="mrg-btm-30 mrg-top-15">Mot de passe oublié ?</h3>

                        <div class="form-wrapper">
                            {{ form_start(passwordForm) }}
                            <label><b>{{ message }}</b></label>
								{{ form_errors(passwordForm)}}
								{{ form_widget(passwordForm.username) }}
                        </div>
                        <input class="btn btn-md btn-dark mrg-vertical-20" type="submit" value="Valider">
                            {{ form_end(passwordForm)}}

                    </div>
                    <div class="modal-close">
                        <a href="/"><button type="button" class="btn icon-btn-md icon-btn-round btn-dark lh-0"><i class="ei ei-close"></i></button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal End -->

{% endblock %}
