{% extends "layout.html.twig" %}

{% block content %}

<!-- Page Tittle Start -->
<section class="page-tittle page-tittle-lg parallax-bg dark-overlay">
	<img class="parallax-img no-mobile-parallax" src="{{ asset('images/about-bg1.jpg') }}" alt="" data-parallax='{"y": 150}'>
	<div class="container">
		<div class="page-tittle-head">
			<h2>Pimp It !</h2>
			<p>Pimper votre CV !</p>
		</div>
	</div>
</section>
<!-- Page Tittle End -->

<!-- Form wizard -->
<div class="container">
	<div class="row">
		<section>
        <div class="wizard">
            <div class="wizard-inner">
                <div class="connecting-line"></div>
                <ul class="nav nav-tabs" role="tablist">

                    <li role="presentation" class="active">
                        <a href="#step1" data-toggle="tab" aria-controls="step1" role="tab" title="Informations générales">
                            <span class="round-tab">
                                <i class="glyphicon glyphicon-folder-open"></i>
                            </span>
                        </a>
                    </li>

                    <li role="presentation" class="disabled">
                        <a href="#step2" data-toggle="tab" aria-controls="step2" role="tab" title="Contenu de votre CV">
                            <span class="round-tab">
                                <i class="glyphicon glyphicon-pencil"></i>
                            </span>
                        </a>
                    </li>
                    <li role="presentation" class="disabled">
                        <a href="#step3" data-toggle="tab" aria-controls="step3" role="tab" title="Template et options">
                            <span class="round-tab">
                                <i class="glyphicon glyphicon-picture"></i>
                            </span>
                        </a>
                    </li>

                    <li role="presentation" class="disabled">
                        <a href="#complete" data-toggle="tab" aria-controls="complete" role="tab" title="Récapitulatif">
                            <span class="round-tab">
                                <i class="glyphicon glyphicon-ok"></i>
                            </span>
                        </a>
                    </li>
                </ul>
            </div>

            <!-- Pimp It ! -->
            {{ form_start(pimpitForm) }}
			{{ form_widget(pimpitForm.id,{value : app.user.id}) }}
                <div class="tab-content">
                    <div class="tab-pane active" role="tabpanel" id="step1">
                        <h2>Informations générales</h2>
                        <div class="container">
							<div class="row">
								<h3>A votre sujet :</h3>

								<div class="form-group">
									<label><b>Prénom</b></label>
									{{ form_errors(pimpitForm.prenom) }}
									{{ form_widget(pimpitForm.prenom) }}
								</div>

								<div class="form-group">
									<label><b>Nom</b></label>
									{{ form_errors(pimpitForm.nom) }}
									{{ form_widget(pimpitForm.nom) }}
								</div>

								<div class="form-group">
									<label><b>Email</b></label>
									{{ form_errors(pimpitForm.username) }}
									{{ form_widget(pimpitForm.username, {value : app.user.username}) }}
								</div>

								<div class="form-group">
									<label><b>Date de naissance</b></label>
									{{ form_errors(pimpitForm.date_naissance) }}
									{{ form_widget(pimpitForm.date_naissance) }}
								</div>

								<h3>Vos coordonnées :</h3>

								<div class="form-group">
									<label><b>Adresse</b></label>
										{{ form_errors(pimpitForm.adresse) }}
										{{ form_widget(pimpitForm.adresse) }}
								</div>

								<div class="form-group">
									<label><b>Ville</b></label>
										{{ form_errors(pimpitForm.ville) }}
										{{ form_widget(pimpitForm.ville) }}
								</div>

								<div class="form-group">
									<label><b>Code Postal</b></label>
										{{ form_errors(pimpitForm.code_postal) }}
										{{ form_widget(pimpitForm.code_postal) }}
								</div>

								<div class="form-group">
									<label><b>Pays</b></label>
										{{ form_errors(pimpitForm.pays) }}
										{{ form_widget(pimpitForm.pays) }}
								</div>

								<div class="form-group">
									<label><b>Téléphone</b></label>
										{{ form_errors(pimpitForm.telephone) }}
										{{ form_widget(pimpitForm.telephone) }}
								</div>

								<h3>Si vous avez déjà un CV, vous pouvez nous l'envoyer :</h3>

								<div class="form-group">
									{{ form_errors(pimpitForm.cv) }}
									{{ form_widget(pimpitForm.cv) }}
								</div>

								<div class="form-group">
									<ul class="list-inline pull-right">
	                            		<input class="btn btn-md btn-dark next-step" type="submit" value="Enregistrer et continuer">
	                        		</ul>
	                        	</div>
							</div>
						</div>
                    </div>
                </div>
            {{ form_end(pimpitForm) }}
            <!-- Fin Pimp It -->
        </div>
    </section>
   </div>
</div>
<!-- Fin form wizard -->

{% endblock %}
