{% extends "layout.html.twig" %}

{% block content %}

	 <!-- Page Tittle Start -->
		<section class="page-tittle page-title-lg parallax-bg dark-overlay">
			<img class="parallax-img no-mobile-parallax" src="assets/images/bg-18.jpg" alt="" data-parallax='{"y": 150}'>
			<div class="container">
				<div class="page-tittle-head">
					<h2>Pimp It !</h2>
					<p>Pimper votre CV !</p>
				</div>
			    <ol class="breadcrumb pull-right mrg-top-30">
				  <li class="breadcrumb-item"><a href="#">Elements</a></li>
				  <li class="breadcrumb-item active">Forms</li>
				</ol>
			</div>
		</section>
        <!-- Page Tittle End -->

		<section class="section-1">
			<div class="container">
				<div class="row">
					<h2 class="mrg-btm-30">Formulaire CV</h2>
					<form class="form" action="POST">
					</form>
						<h2>Informations obligatoires :</h2>

						<fieldset>
							<h3>A votre sujet :</h3>
								{% if membreForm %}
								{{ form_start(membreForm) }}
							<div class="form-group">
								<label><b>Prénom</b></label>
								{{ form_errors(membreForm.prenom) }}
								{{ form_widget(membreForm.prenom) }}
							</div>

							<div class="form-group">
								<label><b>Nom</b></label>
								{{ form_errors(membreForm.nom) }}
								{{ form_widget(membreForm.nom) }}
							</div>

							<div class="form-group">
								<label><b>Email</b></label>
								{{ form_errors(membreForm.email) }}
								{{ form_widget(membreForm.email) }}
							</div>

							<div class="form-group">
								<label><b>Date de naissance</b></label>
								{{ form_errors(membreForm.date_naissance) }}
								{{ form_widget(membreForm.date_naissance) }}
							</div>

							<div class="form-group">
								<label><b>Photo</b></label>

								{{ form_errors(membreForm.photo) }}
								{{ form_widget(membreForm.photo) }}
							</div>

						</fieldset>

						<fieldset>
							<h3>Vos coordonnées :</h2>

							<div class="form-group">
								<label><b>Adresse</b></label>
									{{ form_errors(membreForm.adresse) }}
									{{ form_widget(membreForm.adresse) }}
							</div>

							<div class="form-group">
								<label><b>Ville</b></label>
									{{ form_errors(membreForm.ville) }}
									{{ form_widget(membreForm.ville) }}
							</div>

							<div class="form-group">
								<label><b>Code Postal</b></label>
									{{ form_errors(membreForm.code_postal) }}
									{{ form_widget(membreForm.code_postal) }}
							</div>

							<div class="form-group">
								<label><b>Pays</b></label>
									{{ form_errors(membreForm.pays) }}
									{{ form_widget(membreForm.pays) }}
							</div>

							<div class="form-group">
								<label><b>Téléphone</b></label>
									{{ form_errors(membreForm.telephone) }}
									{{ form_widget(membreForm.telephone) }}
							</div>

						</fieldset>
						<h3>Si vous avez déjà un CV, vous pouvez nous l'envoyer :</h3>

						<div class="form-group">
							{{ form_errors(membreForm.fichier) }}
							{{ form_widget(membreForm.fichier) }}
						</div>

						<div class="form-group">
							<input type="submit" name="infos" value="Envoyer"/>
						</div>
						{{ form_end(membreForm) }}
						{% endif %}
					</form>

				</div>
			</div>
		</section>
		<!-- Forms End -->

{% endblock %}
