{% extends "layout.html.twig" %}

{% block content %}

<!-- Page Tittle Start -->
<section class="page-tittle page-tittle-lg parallax-bg dark-overlay">
	<img class="parallax-img no-mobile-parallax" src="{{ asset('images/about-bg1.jpg') }}" alt="" data-parallax='{"y": 150}'>
	<div class="container">
		<div class="page-tittle-head">
			<h2>Pimp It !</h2>
			<p>Pimper votre CV !</p>
		</div>
	</div>
</section>
<!-- Page Tittle End -->

<!-- Form wizard -->
<div class="container">
	<div class="row">
		<section>
        <div class="wizard">
            <div class="wizard-inner">
                <div class="connecting-line"></div>
                <ul class="nav nav-tabs" role="tablist">

                    <li role="presentation" class="disabled">
                        <a href="#step1" data-toggle="tab" aria-controls="step1" role="tab" title="Informations personnelles">
                            <span class="round-tab">
                                <i class="glyphicon glyphicon-folder-open"></i>
                            </span>
                        </a>
                    </li>

                    <li role="presentation" class="active">
                        <a href="#step2" data-toggle="tab" aria-controls="step2" role="tab" title="Contenu du CV">
                            <span class="round-tab">
                                <i class="glyphicon glyphicon-pencil"></i>
                            </span>
                        </a>
                    </li>
                    <li role="presentation" class="disabled">
                        <a href="#step3" data-toggle="tab" aria-controls="step3" role="tab" title="Template et options">
                            <span class="round-tab">
                                <i class="glyphicon glyphicon-picture"></i>
                            </span>
                        </a>
                    </li>

                    <li role="presentation" class="disabled">
                        <a href="#complete" data-toggle="tab" aria-controls="complete" role="tab" title="Récapitulatif">
                            <span class="round-tab">
                                <i class="glyphicon glyphicon-ok"></i>
                            </span>
                        </a>
                    </li>
                </ul>
            </div>

            <!-- Formulaire -->
                <div class="tab-content">
                    <div class="tab-pane active" role="tabpanel" id="step2">
                        <h3>Contenu de votre CV</h3>

                        <div class="container">
							<div class="row">
								<div class="col-md-12">
									<div class="panel-group">

										<!-- Partie informations personnelles (table cv) -->
										{{ form_start(cvForm)}}
										{{ form_errors(cvForm)}}
										{{ form_widget(cvForm.id_membre,{value : app.user.id}) }}
										<div class="panel panel-default">
											<div class="panel-heading">
												<span class="panel-title">
												<a data-toggle="collapse" href="#collapse1">
												<i class="ei ei-id-card-alt"></i> Informations diverses</a>
												</span>
											</div>
											<div id="collapse1" class="panel-collapse collapse">
												<div class="panel-body">
													<div class="form-group">
														<label for="email_cv">Email*</label>
														{{ form_errors(cvForm.email_cv) }}
														{{ form_widget(cvForm.email_cv) }}
													</div>

													<div class="form-group">
														<label for="situation">Situation familiale :</label>
														{{ form_errors(cvForm.famille) }}
														{{ form_widget(cvForm.famille) }}
													</div>

													<div class="form-group">
														<label for="nationalite">Nationalité*</label>
														{{ form_errors(cvForm.nationalite) }}
														{{ form_widget(cvForm.nationalite) }}
													</div>

													<div class="form-group">
														<label for="langue_maternelle">Langue maternelle*</label>
														{{ form_errors(cvForm.langue_maternelle) }}
														{{ form_widget(cvForm.langue_maternelle) }}
													</div>

													<div class="form-group">
														<label>Permis de travail / séjour</label>

														{{ form_errors(cvForm.permis_travail) }}
														{{ form_widget(cvForm.permis_travail) }}

													</div>

													<div class="form-group">
														<label>Permis de conduire</label>
														{{ form_errors(cvForm.permis_conduire) }}
														{{ form_widget(cvForm.permis_conduire) }}
													</div>

													<div class="form-group">
														<i class="ei ei-linkedin"></i>
														<label for="url_linkdein"> LinkedIn</label>
														{{ form_errors(cvForm.linkedin) }}
														{{ form_widget(cvForm.linkedin) }}
													</div>
													<div class="form-group">
														<i class="ei ei-twitter"></i>
														<label for="url_twitter"> Twitter</label>
														{{ form_errors(cvForm.twitter) }}
														{{ form_widget(cvForm.twitter) }}
													</div>
													<div class="form-group">
														<i class="ei ei-skype"></i>
														<label for="url_skype"> Skype</label>
														{{ form_errors(cvForm.skype) }}
														{{ form_widget(cvForm.skype) }}
													</div>
													<div class="form-group">
														<i class="ei ei-monitor"></i>
														<label for="url_perso"> Site personnel</label>
														{{ form_errors(cvForm.site_perso) }}
														{{ form_widget(cvForm.site_perso) }}
													</div>
													<div class="form-group">
														<i class="ei ei-monitor"></i>
														<label for="url_autre"> Autre site</label>
														{{ form_errors(cvForm.url_autre) }}
														{{ form_widget(cvForm.url_autre) }}
													</div>

													<div class="form-group col-md-12">
														<input class="btn btn-md btn-dark" type="submit" value="Valider">
													</div>
												</div>
											</div>
										</div>
										{{ form_end(cvForm) }}
										<!-- Fin Partie informations personnelles (table cv) -->

										<!--  Partie expérience -->
										<div class="panel panel-default">
											<div class="panel-heading">
												<span class="panel-title">
												<a data-toggle="collapse" class="collapsed" href="#collapse2">
												<i class="ei ei-tie"></i> Expériences</a>
												</span>
											</div>
											<div id="collapse2" class="panel-collapse collapse">
												<div class="panel-body">
													<ul class="nav nav-tabs tab-style-1">
														<li class="active"><a data-toggle="tab" href="#Experience-1">Experience 1</a></li>
														<li><a data-toggle="tab" href="#Experience-2">Experience 2</a></li>
														<li><a data-toggle="tab" href="#Experience-3">Experience 3</a></li>
														<li><a data-toggle="tab" href="#Experience-4">Experience 4</a></li>
														<li><a data-toggle="tab" href="#Experience-5">Experience 5</a></li>
													</ul>
													<div class="tab-content">
														<div id="Experience-1" class="tab-pane fade pdd-horizon-10 in active">
														{{ form_start(experienceForm1) }}
														{{ form_errors(experienceForm1) }}
														{{ form_widget(experienceForm1.type,{value :'entreprise1'}) }}

															<h4>Entreprise :</h4>

															<div class="form-group">
																<label for="nom">Nom de l'entreprise*</label>
																{{ form_errors(experienceForm1.nom) }}
																{{ form_widget(experienceForm1.nom) }}
															</div>

															<div class="form-group">
																<label>Secteur* : </label>
																{{ form_errors(experienceForm1.secteur) }}
																{{ form_widget(experienceForm1.secteur) }}
															</div>

															<div class="form-group">
																<label for="effectif">Effectifs :</label>
																{{ form_errors(experienceForm1.effectif) }}
																{{ form_widget(experienceForm1.effectif) }}
															</div>

															<div class="form-group">
																<label for="url_entreprise">Site web de l'entreprise</label>
																{{ form_errors(experienceForm1.url_experience) }}
																{{ form_widget(experienceForm1.url_experience) }}
															</div>

															<div class="form-group">
																<label for="poste">Intitulé du poste*</label>
																{{ form_errors(experienceForm1.poste) }}
																{{ form_widget(experienceForm1.poste) }}
															</div>

															<div class="form-group">
																<label for="role">Rôle dans l'entreprise*</label>
																{{ form_errors(experienceForm1.role) }}
																{{ form_widget(experienceForm1.role) }}
															</div>
															<div class="form-group">
																<label for="lieu_entreprise">Localisation du poste*</label>
																{{ form_errors(experienceForm1.lieu) }}
																{{ form_widget(experienceForm1.lieu) }}
															</div>

															<div class="form-group">
																<label for="Duree">Durée du poste* : </label>
																<span> de </span>
																{{ form_errors(experienceForm1.date_debut) }}
																{{ form_widget(experienceForm1.date_debut) }}

																<select class="" name="annee_debut">
																	{% for annee_debut in range("now"|date("Y"),1950) %}
																		<option value="{{ annee_debut }}"> {{ annee_debut }}</option>
																	{% endfor %}
																</select>

																<span> à </span>
																{{ form_errors(experienceForm1.date_fin) }}
																{{ form_widget(experienceForm1.date_fin) }}

																<select class="" name="annee_fin">
																	{% for annee_fin in range("now"|date("Y"),1950) %}
																		<option value="{{ annee_fin }}"> {{ annee_fin }}</option>
																	{% endfor %}
																</select>
															</div>

															<div class="form-group">
																<label for="responsabilite">Responsabilités* :</label><br />
																{{ form_errors(experienceForm1.responsabilite1) }}
																{{ form_widget(experienceForm1.responsabilite1) }}
																{{ form_errors(experienceForm1.responsabilite2) }}
																{{ form_widget(experienceForm1.responsabilite2) }}
																{{ form_errors(experienceForm1.responsabilite3) }}
																{{ form_widget(experienceForm1.responsabilite3) }}
																{{ form_errors(experienceForm1.responsabilite4) }}
																{{ form_widget(experienceForm1.responsabilite4) }}
																{{ form_errors(experienceForm1.responsabilite5) }}
																{{ form_widget(experienceForm1.responsabilite5) }}
															</div>

															<div class="form-group">
																<label for="reussite">Réussites / accomplissements* :</label><br />
																{{ form_errors(experienceForm1.realisation1) }}
																{{ form_widget(experienceForm1.realisation1) }}
																{{ form_errors(experienceForm1.realisation2) }}
																{{ form_widget(experienceForm1.realisation2) }}
																{{ form_errors(experienceForm1.realisation3) }}
																{{ form_widget(experienceForm1.realisation3) }}
																{{ form_errors(experienceForm1.realisation4) }}
																{{ form_widget(experienceForm1.realisation4) }}
																{{ form_errors(experienceForm1.realisation5) }}
																{{ form_widget(experienceForm1.realisation5) }}
															</div>
															<div class="form-group col-md-12">
																<input class="btn btn-md btn-dark" type="submit" value="Valider">
															</div>
														{{ form_end(experienceForm1) }}
														</div>

														<div id="Experience-2" class="tab-pane pdd-horizon-10 fade">
														{{ form_start(experienceForm2) }}
														{{ form_errors(experienceForm2) }}
														{{ form_widget(experienceForm2.type,{value :'entreprise2'}) }}

															<h4>Entreprise :</h4>

															<div class="form-group">
																<label for="nom">Nom de l'entreprise*</label>
																{{ form_errors(experienceForm2.nom) }}
																{{ form_widget(experienceForm2.nom) }}
															</div>

															<div class="form-group">
																<label>Secteur* : </label>
																{{ form_errors(experienceForm2.secteur) }}
																{{ form_widget(experienceForm2.secteur) }}
															</div>

															<div class="form-group">
																<label for="effectif">Effectifs :</label>
																{{ form_errors(experienceForm2.effectif) }}
																{{ form_widget(experienceForm2.effectif) }}
															</div>

															<div class="form-group">
																<label for="url_entreprise">Site web de l'entreprise</label>
																{{ form_errors(experienceForm2.url_experience) }}
																{{ form_widget(experienceForm2.url_experience) }}
															</div>

															<div class="form-group">
																<label for="poste">Intitulé du poste*</label>
																{{ form_errors(experienceForm2.poste) }}
																{{ form_widget(experienceForm2.poste) }}
															</div>

															<div class="form-group">
																<label for="role">Rôle dans l'entreprise*</label>
																{{ form_errors(experienceForm2.role) }}
																{{ form_widget(experienceForm2.role) }}
															</div>
															<div class="form-group">
																<label for="lieu_entreprise">Localisation du poste*</label>
																{{ form_errors(experienceForm2.lieu) }}
																{{ form_widget(experienceForm2.lieu) }}
															</div>

															<div class="form-group">
																<label for="Duree">Durée du poste* : </label>
																<span> de </span>
																{{ form_errors(experienceForm2.date_debut) }}
																{{ form_widget(experienceForm2.date_debut) }}

																<select class="" name="annee_debut">
																	{% for annee_debut in range("now"|date("Y"),1950) %}
																		<option value="{{ annee_debut }}"> {{ annee_debut }}</option>
																	{% endfor %}
																</select>

																<span> à </span>
																{{ form_errors(experienceForm2.date_fin) }}
																{{ form_widget(experienceForm2.date_fin) }}

																<select class="" name="annee_fin">
																	{% for annee_fin in range("now"|date("Y"),1950) %}
																		<option value="{{ annee_fin }}"> {{ annee_fin }}</option>
																	{% endfor %}
																</select>
															</div>

															<div class="form-group">
																<label for="responsabilite">Responsabilités* :</label><br />
																{{ form_errors(experienceForm2.responsabilite1) }}
																{{ form_widget(experienceForm2.responsabilite1) }}
																{{ form_errors(experienceForm2.responsabilite2) }}
																{{ form_widget(experienceForm2.responsabilite2) }}
																{{ form_errors(experienceForm2.responsabilite3) }}
																{{ form_widget(experienceForm2.responsabilite3) }}
																{{ form_errors(experienceForm2.responsabilite4) }}
																{{ form_widget(experienceForm2.responsabilite4) }}
																{{ form_errors(experienceForm2.responsabilite5) }}
																{{ form_widget(experienceForm2.responsabilite5) }}
															</div>

															<div class="form-group">
																<label for="reussite">Réussites / accomplissements* :</label><br />
																{{ form_errors(experienceForm2.realisation1) }}
																{{ form_widget(experienceForm2.realisation1) }}
																{{ form_errors(experienceForm2.realisation2) }}
																{{ form_widget(experienceForm2.realisation2) }}
																{{ form_errors(experienceForm2.realisation3) }}
																{{ form_widget(experienceForm2.realisation3) }}
																{{ form_errors(experienceForm2.realisation4) }}
																{{ form_widget(experienceForm2.realisation4) }}
																{{ form_errors(experienceForm2.realisation5) }}
																{{ form_widget(experienceForm2.realisation5) }}
															</div>
															<div class="form-group col-md-12">
																<input class="btn btn-md btn-dark" type="submit" value="Valider">
															</div>
														{{ form_end(experienceForm2) }}
														</div>

														<div id="Experience-3" class="tab-pane pdd-horizon-10 fade">
															{{ form_start(experienceForm3) }}
															{{ form_errors(experienceForm3) }}
															{{ form_widget(experienceForm3.type,{value :'entreprise3'}) }}

															<h4>Entreprise :</h4>

															<div class="form-group">
																<label for="nom">Nom de l'entreprise*</label>
																{{ form_errors(experienceForm3.nom) }}
																{{ form_widget(experienceForm3.nom) }}
															</div>

															<div class="form-group">
																<label>Secteur* : </label>
																{{ form_errors(experienceForm3.secteur) }}
																{{ form_widget(experienceForm3.secteur) }}
															</div>

															<div class="form-group">
																<label for="effectif">Effectifs :</label>
																{{ form_errors(experienceForm3.effectif) }}
																{{ form_widget(experienceForm3.effectif) }}
															</div>

															<div class="form-group">
																<label for="url_entreprise">Site web de l'entreprise</label>
																{{ form_errors(experienceForm3.url_experience) }}
																{{ form_widget(experienceForm3.url_experience) }}
															</div>

															<div class="form-group">
																<label for="poste">Intitulé du poste*</label>
																{{ form_errors(experienceForm3.poste) }}
																{{ form_widget(experienceForm3.poste) }}
															</div>

															<div class="form-group">
																<label for="role">Rôle dans l'entreprise*</label>
																{{ form_errors(experienceForm3.role) }}
																{{ form_widget(experienceForm3.role) }}
															</div>
															<div class="form-group">
																<label for="lieu_entreprise">Localisation du poste*</label>
																{{ form_errors(experienceForm3.lieu) }}
																{{ form_widget(experienceForm3.lieu) }}
															</div>

															<div class="form-group">
																<label for="Duree">Durée du poste* : </label>
																<span> de </span>
																{{ form_errors(experienceForm3.date_debut) }}
																{{ form_widget(experienceForm3.date_debut) }}

																<select class="" name="annee_debut">
																	{% for annee_debut in range("now"|date("Y"),1950) %}
																		<option value="{{ annee_debut }}"> {{ annee_debut }}</option>
																	{% endfor %}
																</select>

																<span> à </span>
																{{ form_errors(experienceForm3.date_fin) }}
																{{ form_widget(experienceForm3.date_fin) }}

																<select class="" name="annee_fin">
																	{% for annee_fin in range("now"|date("Y"),1950) %}
																		<option value="{{ annee_fin }}"> {{ annee_fin }}</option>
																	{% endfor %}
																</select>
															</div>

															<div class="form-group">
																<label for="responsabilite">Responsabilités* :</label><br />
																{{ form_errors(experienceForm3.responsabilite1) }}
																{{ form_widget(experienceForm3.responsabilite1) }}
																{{ form_errors(experienceForm3.responsabilite2) }}
																{{ form_widget(experienceForm3.responsabilite2) }}
																{{ form_errors(experienceForm3.responsabilite3) }}
																{{ form_widget(experienceForm3.responsabilite3) }}
																{{ form_errors(experienceForm3.responsabilite4) }}
																{{ form_widget(experienceForm3.responsabilite4) }}
																{{ form_errors(experienceForm3.responsabilite5) }}
																{{ form_widget(experienceForm3.responsabilite5) }}
															</div>

															<div class="form-group">
																<label for="reussite">Réussites / accomplissements* :</label><br />
																{{ form_errors(experienceForm3.realisation1) }}
																{{ form_widget(experienceForm3.realisation1) }}
																{{ form_errors(experienceForm3.realisation2) }}
																{{ form_widget(experienceForm3.realisation2) }}
																{{ form_errors(experienceForm3.realisation3) }}
																{{ form_widget(experienceForm3.realisation3) }}
																{{ form_errors(experienceForm3.realisation4) }}
																{{ form_widget(experienceForm3.realisation4) }}
																{{ form_errors(experienceForm3.realisation5) }}
																{{ form_widget(experienceForm3.realisation5) }}
															</div>
															<div class="form-group col-md-12">
																<input class="btn btn-md btn-dark" type="submit" value="Valider">
															</div>
														{{ form_end(experienceForm3) }}
														</div>

														<div id="Experience-4" class="tab-pane pdd-horizon-10 fade">
															{{ form_start(experienceForm4) }}
															{{ form_errors(experienceForm4) }}
															{{ form_widget(experienceForm4.type,{value :'entreprise4'}) }}

															<h4>Entreprise :</h4>

															<div class="form-group">
																<label for="nom">Nom de l'entreprise*</label>
																{{ form_errors(experienceForm4.nom) }}
																{{ form_widget(experienceForm4.nom) }}
															</div>

															<div class="form-group">
																<label>Secteur* : </label>
																{{ form_errors(experienceForm4.secteur) }}
																{{ form_widget(experienceForm4.secteur) }}
															</div>

															<div class="form-group">
																<label for="effectif">Effectifs :</label>
																{{ form_errors(experienceForm4.effectif) }}
																{{ form_widget(experienceForm4.effectif) }}
															</div>

															<div class="form-group">
																<label for="url_entreprise">Site web de l'entreprise</label>
																{{ form_errors(experienceForm4.url_experience) }}
																{{ form_widget(experienceForm4.url_experience) }}
															</div>

															<div class="form-group">
																<label for="poste">Intitulé du poste*</label>
																{{ form_errors(experienceForm4.poste) }}
																{{ form_widget(experienceForm4.poste) }}
															</div>

															<div class="form-group">
																<label for="role">Rôle dans l'entreprise*</label>
																{{ form_errors(experienceForm4.role) }}
																{{ form_widget(experienceForm4.role) }}
															</div>
															<div class="form-group">
																<label for="lieu_entreprise">Localisation du poste*</label>
																{{ form_errors(experienceForm4.lieu) }}
																{{ form_widget(experienceForm4.lieu) }}
															</div>

															<div class="form-group">
																<label for="Duree">Durée du poste* : </label>
																<span> de </span>
																{{ form_errors(experienceForm4.date_debut) }}
																{{ form_widget(experienceForm4.date_debut) }}

																<select class="" name="annee_debut">
																	{% for annee_debut in range("now"|date("Y"),1950) %}
																		<option value="{{ annee_debut }}"> {{ annee_debut }}</option>
																	{% endfor %}
																</select>

																<span> à </span>
																{{ form_errors(experienceForm4.date_fin) }}
																{{ form_widget(experienceForm4.date_fin) }}

																<select class="" name="annee_fin">
																	{% for annee_fin in range("now"|date("Y"),1950) %}
																		<option value="{{ annee_fin }}"> {{ annee_fin }}</option>
																	{% endfor %}
																</select>
															</div>

															<div class="form-group">
																<label for="responsabilite">Responsabilités* :</label><br />
																{{ form_errors(experienceForm4.responsabilite1) }}
																{{ form_widget(experienceForm4.responsabilite1) }}
																{{ form_errors(experienceForm4.responsabilite2) }}
																{{ form_widget(experienceForm4.responsabilite2) }}
																{{ form_errors(experienceForm4.responsabilite3) }}
																{{ form_widget(experienceForm4.responsabilite3) }}
																{{ form_errors(experienceForm4.responsabilite4) }}
																{{ form_widget(experienceForm4.responsabilite4) }}
																{{ form_errors(experienceForm4.responsabilite5) }}
																{{ form_widget(experienceForm4.responsabilite5) }}
															</div>

															<div class="form-group">
																<label for="reussite">Réussites / accomplissements* :</label><br />
																{{ form_errors(experienceForm4.realisation1) }}
																{{ form_widget(experienceForm4.realisation1) }}
																{{ form_errors(experienceForm4.realisation2) }}
																{{ form_widget(experienceForm4.realisation2) }}
																{{ form_errors(experienceForm4.realisation3) }}
																{{ form_widget(experienceForm4.realisation3) }}
																{{ form_errors(experienceForm4.realisation4) }}
																{{ form_widget(experienceForm4.realisation4) }}
																{{ form_errors(experienceForm4.realisation5) }}
																{{ form_widget(experienceForm4.realisation5) }}
															</div>
															<div class="form-group col-md-12">
																<input class="btn btn-md btn-dark" type="submit" value="Valider">
															</div>
														{{ form_end(experienceForm4) }}
														</div>

														<div id="Experience-5" class="tab-pane pdd-horizon-10 fade">
															{{ form_start(experienceForm5) }}
															{{ form_errors(experienceForm5) }}
															{{ form_widget(experienceForm5.type,{value :'entreprise5'}) }}

															<h4>Entreprise :</h4>

															<div class="form-group">
																<label for="nom">Nom de l'entreprise*</label>
																{{ form_errors(experienceForm5.nom) }}
																{{ form_widget(experienceForm5.nom) }}
															</div>

															<div class="form-group">
																<label>Secteur* : </label>
																{{ form_errors(experienceForm5.secteur) }}
																{{ form_widget(experienceForm5.secteur) }}
															</div>

															<div class="form-group">
																<label for="effectif">Effectifs :</label>
																{{ form_errors(experienceForm5.effectif) }}
																{{ form_widget(experienceForm5.effectif) }}
															</div>

															<div class="form-group">
																<label for="url_entreprise">Site web de l'entreprise</label>
																{{ form_errors(experienceForm5.url_experience) }}
																{{ form_widget(experienceForm5.url_experience) }}
															</div>

															<div class="form-group">
																<label for="poste">Intitulé du poste*</label>
																{{ form_errors(experienceForm5.poste) }}
																{{ form_widget(experienceForm5.poste) }}
															</div>

															<div class="form-group">
																<label for="role">Rôle dans l'entreprise*</label>
																{{ form_errors(experienceForm5.role) }}
																{{ form_widget(experienceForm5.role) }}
															</div>
															<div class="form-group">
																<label for="lieu_entreprise">Localisation du poste*</label>
																{{ form_errors(experienceForm5.lieu) }}
																{{ form_widget(experienceForm5.lieu) }}
															</div>

															<div class="form-group">
																<label for="Duree">Durée du poste* : </label>
																<span> de </span>
																{{ form_errors(experienceForm5.date_debut) }}
																{{ form_widget(experienceForm5.date_debut) }}

																<select class="" name="annee_debut">
																	{% for annee_debut in range("now"|date("Y"),1950) %}
																		<option value="{{ annee_debut }}"> {{ annee_debut }}</option>
																	{% endfor %}
																</select>

																<span> à </span>
																{{ form_errors(experienceForm5.date_fin) }}
																{{ form_widget(experienceForm5.date_fin) }}

																<select class="" name="annee_fin">
																	{% for annee_fin in range("now"|date("Y"),1950) %}
																		<option value="{{ annee_fin }}"> {{ annee_fin }}</option>
																	{% endfor %}
																</select>
															</div>

															<div class="form-group">
																<label for="responsabilite">Responsabilités* :</label><br />
																{{ form_errors(experienceForm5.responsabilite1) }}
																{{ form_widget(experienceForm5.responsabilite1) }}
																{{ form_errors(experienceForm5.responsabilite2) }}
																{{ form_widget(experienceForm5.responsabilite2) }}
																{{ form_errors(experienceForm5.responsabilite3) }}
																{{ form_widget(experienceForm5.responsabilite3) }}
																{{ form_errors(experienceForm5.responsabilite4) }}
																{{ form_widget(experienceForm5.responsabilite4) }}
																{{ form_errors(experienceForm5.responsabilite5) }}
																{{ form_widget(experienceForm5.responsabilite5) }}
															</div>

															<div class="form-group">
																<label for="reussite">Réussites / accomplissements* :</label><br />
																{{ form_errors(experienceForm5.realisation1) }}
																{{ form_widget(experienceForm5.realisation1) }}
																{{ form_errors(experienceForm5.realisation2) }}
																{{ form_widget(experienceForm5.realisation2) }}
																{{ form_errors(experienceForm5.realisation3) }}
																{{ form_widget(experienceForm5.realisation3) }}
																{{ form_errors(experienceForm5.realisation4) }}
																{{ form_widget(experienceForm5.realisation4) }}
																{{ form_errors(experienceForm5.realisation5) }}
																{{ form_widget(experienceForm5.realisation5) }}
															</div>
															<div class="form-group col-md-12">
																<input class="btn btn-md btn-dark" type="submit" value="Valider">
															</div>
														{{ form_end(experienceForm5) }}
														</div>
													</div>
												</div>
											</div>
										</div>
										<!-- Fin Partie expérience -->

										<!-- Partie formation -->
										<div class="panel panel-default">
											<div class="panel-heading">
												<span class="panel-title">
												<a data-toggle="collapse" class="collapsed" href="#collapse3">
												<i class="ei ei-open-book"></i> Formations</a>
												</span>
											</div>
											<div id="collapse3" class="panel-collapse collapse">
												<div class="panel-body">
													<ul class="nav nav-tabs tab-style-1">
														<li class="active"><a data-toggle="tab" href="#Formation-1">Formation 1</a></li>
														<li><a data-toggle="tab" href="#Formation-2">Formation 2</a></li>
														<li><a data-toggle="tab" href="#Formation-3">Formation 3</a></li>
														<li><a data-toggle="tab" href="#Formation-4">Formation 4</a></li>
														<li><a data-toggle="tab" href="#Formation-5">Formation 5</a></li>
													</ul>
													<div class="tab-content">
														<div id="Formation-1" class="tab-pane fade pdd-horizon-10 in active">
														{{ form_start(formationForm1) }}
														{{ form_errors(formationForm1) }}
														{{ form_widget(formationForm1.type,{value :'formation1'}) }}
														
															<div class="form-group">
																<label for="diplome">Diplome*</label>
																{{ form_errors(formationForm1.diplome) }}
																{{ form_widget(formationForm1.diplome) }}
															</div>

															<div class="form-group">
																<label for="etablissement_formation">Etablissement*</label>
																{{ form_errors(formationForm1.etablissement) }}
																{{ form_widget(formationForm1.etablissement) }}
															</div>

															<div class="form-group">
																<label for="specialite_formation">Spécialité</label>
																{{ form_errors(formationForm1.specialite) }}
																{{ form_widget(formationForm1.specialite) }}
															</div>

															<div class="form-group">
																<label for="lieu_formation">Localisation</label>
																{{ form_errors(formationForm1.lieu) }}
																{{ form_widget(formationForm1.lieu) }}
															</div>

															<div class="form-group">
																<label for="date_diplome">Année d'obtention du diplome* : </label>
																<select class="" name="annee_diplome">
																	{% for annee_diplome in range("now"|date("Y"),1950) %}
																		<option value="{{ annee_diplome }}"> {{ annee_diplome }}</option>
																	{% endfor %}
																</select>
															</div>

															<div class="form-group">
																<label for="url_formation">Site web</label>
																{{ form_errors(formationForm1.url_formation) }}
																{{ form_widget(formationForm1.url_formation) }}
															</div>
															<div class="form-group col-md-12">
																<input class="btn btn-md btn-dark" type="submit" value="Valider">
															</div>
														{{ form_end(formationForm1) }}
														</div>

														<div id="Formation-2" class="tab-pane fade pdd-horizon-10 fade">
														{{ form_start(formationForm2) }}
														{{ form_errors(formationForm2) }}
														{{ form_widget(formationForm2.type,{value :'formation2'}) }}
										
															<div class="form-group">
																<label for="diplome">Diplome*</label>
																{{ form_errors(formationForm2.diplome) }}
																{{ form_widget(formationForm2.diplome) }}
															</div>

															<div class="form-group">
																<label for="etablissement_formation">Etablissement*</label>
																{{ form_errors(formationForm2.etablissement) }}
																{{ form_widget(formationForm2.etablissement) }}
															</div>

															<div class="form-group">
																<label for="specialite_formation">Spécialité</label>
																{{ form_errors(formationForm2.specialite) }}
																{{ form_widget(formationForm2.specialite) }}
															</div>

															<div class="form-group">
																<label for="lieu_formation">Localisation</label>
																{{ form_errors(formationForm2.lieu) }}
																{{ form_widget(formationForm2.lieu) }}
															</div>

															<div class="form-group">
																<label for="date_diplome">Année d'obtention du diplome* : </label>
																<select class="" name="annee_diplome">
																	{% for annee_diplome in range("now"|date("Y"),1950) %}
																		<option value="{{ annee_diplome }}"> {{ annee_diplome }}</option>
																	{% endfor %}
																</select>
															</div>

															<div class="form-group">
																<label for="url_formation">Site web</label>
																{{ form_errors(formationForm2.url_formation) }}
																{{ form_widget(formationForm2.url_formation) }}
															</div>
															<div class="form-group col-md-12">
																<input class="btn btn-md btn-dark" type="submit" value="Valider">
															</div>
														{{ form_end(formationForm2) }}
														</div>

														<div id="Formation-3" class="tab-pane fade pdd-horizon-10 fade">
														{{ form_start(formationForm3) }}
														{{ form_errors(formationForm3) }}
														{{ form_widget(formationForm3.type,{value :'formation3'}) }}
										
															<div class="form-group">
																<label for="diplome">Diplome*</label>
																{{ form_errors(formationForm3.diplome) }}
																{{ form_widget(formationForm3.diplome) }}
															</div>

															<div class="form-group">
																<label for="etablissement_formation">Etablissement*</label>
																{{ form_errors(formationForm3.etablissement) }}
																{{ form_widget(formationForm3.etablissement) }}
															</div>

															<div class="form-group">
																<label for="specialite_formation">Spécialité</label>
																{{ form_errors(formationForm3.specialite) }}
																{{ form_widget(formationForm3.specialite) }}
															</div>

															<div class="form-group">
																<label for="lieu_formation">Localisation</label>
																{{ form_errors(formationForm3.lieu) }}
																{{ form_widget(formationForm3.lieu) }}
															</div>

															<div class="form-group">
																<label for="date_diplome">Année d'obtention du diplome* : </label>
																<select class="" name="annee_diplome">
																	{% for annee_diplome in range("now"|date("Y"),1950) %}
																		<option value="{{ annee_diplome }}"> {{ annee_diplome }}</option>
																	{% endfor %}
																</select>
															</div>

															<div class="form-group">
																<label for="url_formation">Site web</label>
																{{ form_errors(formationForm3.url_formation) }}
																{{ form_widget(formationForm3.url_formation) }}
															</div>
															<div class="form-group col-md-12">
																<input class="btn btn-md btn-dark" type="submit" value="Valider">
															</div>
														{{ form_end(formationForm3) }}
														</div>

														<div id="Formation-4" class="tab-pane fade pdd-horizon-10 fade">
														{{ form_start(formationForm4) }}
														{{ form_errors(formationForm4) }}
														{{ form_widget(formationForm4.type,{value :'formation4'}) }}
										
															<div class="form-group">
																<label for="diplome">Diplome*</label>
																{{ form_errors(formationForm4.diplome) }}
																{{ form_widget(formationForm4.diplome) }}
															</div>

															<div class="form-group">
																<label for="etablissement_formation">Etablissement*</label>
																{{ form_errors(formationForm4.etablissement) }}
																{{ form_widget(formationForm4.etablissement) }}
															</div>

															<div class="form-group">
																<label for="specialite_formation">Spécialité</label>
																{{ form_errors(formationForm4.specialite) }}
																{{ form_widget(formationForm4.specialite) }}
															</div>

															<div class="form-group">
																<label for="lieu_formation">Localisation</label>
																{{ form_errors(formationForm4.lieu) }}
																{{ form_widget(formationForm4.lieu) }}
															</div>

															<div class="form-group">
																<label for="date_diplome">Année d'obtention du diplome* : </label>
																<select class="" name="annee_diplome">
																	{% for annee_diplome in range("now"|date("Y"),1950) %}
																		<option value="{{ annee_diplome }}"> {{ annee_diplome }}</option>
																	{% endfor %}
																</select>
															</div>

															<div class="form-group">
																<label for="url_formation">Site web</label>
																{{ form_errors(formationForm4.url_formation) }}
																{{ form_widget(formationForm4.url_formation) }}
															</div>
															<div class="form-group col-md-12">
																<input class="btn btn-md btn-dark" type="submit" value="Valider">
															</div>
														{{ form_end(formationForm4) }}
														</div>

														<div id="Formation-5" class="tab-pane fade pdd-horizon-10 fade">
														{{ form_start(formationForm5) }}
														{{ form_errors(formationForm5) }}
														{{ form_widget(formationForm5.type,{value :'formation5'}) }}
										
															<div class="form-group">
																<label for="diplome">Diplome*</label>
																{{ form_errors(formationForm5.diplome) }}
																{{ form_widget(formationForm5.diplome) }}
															</div>

															<div class="form-group">
																<label for="etablissement_formation">Etablissement*</label>
																{{ form_errors(formationForm5.etablissement) }}
																{{ form_widget(formationForm5.etablissement) }}
															</div>

															<div class="form-group">
																<label for="specialite_formation">Spécialité</label>
																{{ form_errors(formationForm5.specialite) }}
																{{ form_widget(formationForm5.specialite) }}
															</div>

															<div class="form-group">
																<label for="lieu_formation">Localisation</label>
																{{ form_errors(formationForm5.lieu) }}
																{{ form_widget(formationForm5.lieu) }}
															</div>

															<div class="form-group">
																<label for="date_diplome">Année d'obtention du diplome* : </label>
																<select class="" name="annee_diplome">
																	{% for annee_diplome in range("now"|date("Y"),1950) %}
																		<option value="{{ annee_diplome }}"> {{ annee_diplome }}</option>
																	{% endfor %}
																</select>
															</div>

															<div class="form-group">
																<label for="url_formation">Site web</label>
																{{ form_errors(formationForm5.url_formation) }}
																{{ form_widget(formationForm5.url_formation) }}
															</div>
															<div class="form-group col-md-12">
																<input class="btn btn-md btn-dark" type="submit" value="Valider">
															</div>
														{{ form_end(formationForm5) }}
														</div>
													</div>
												</div>
											</div>
										</div>
										<!-- Fin Partie formation -->

										<!-- Certification -->
										<div class="panel panel-default">
											<div class="panel-heading">
												<span class="panel-title">
												<a data-toggle="collapse" class="collapsed" href="#collapse4">
												<i class="ei ei-medal"></i> Certifications</a>
												</span>
											</div>
											<div id="collapse4" class="panel-collapse collapse">
												<div class="panel-body">
													<ul class="nav nav-tabs tab-style-1">
														<li class="active"><a data-toggle="tab" href="#Certification-1">Certification 1</a></li>
														<li><a data-toggle="tab" href="#Certification-2">Certification 2</a></li>
														<li><a data-toggle="tab" href="#Certification-3">Certification 3</a></li>
													</ul>
													<div class="tab-content">
														<div id="Certification-1" class="tab-pane fade pdd-horizon-10 in active">
														{{ form_start(certificationForm1) }}
														{{ form_errors(certificationForm1) }}
														{{ form_widget(certificationForm1.type,{value :'certification1'}) }}

															<div class="form-group">
																<label for="diplome">Intitulé de la certification*</label>
																{{ form_errors(certificationForm1.diplome) }}
																{{ form_widget(certificationForm1.diplome) }}
															</div>

															<div class="form-group">
																<label for="etablissement">Etablissement*</label>
																{{ form_errors(certificationForm1.etablissement) }}
																{{ form_widget(certificationForm1.etablissement) }}
															</div>

															<div class="form-group">
																<label for="specialite">Spécialité</label>
																{{ form_errors(certificationForm1.specialite) }}
																{{ form_widget(certificationForm1.specialite) }}
															</div>

															<div class="form-group">
																<label for="lieu">Localisation</label>
																{{ form_errors(certificationForm1.lieu) }}
																{{ form_widget(certificationForm1.lieu) }}
															</div>

															<div class="form-group">
																<label for="date_formation">Année d'obtention de la certification* : </label>
																<select class="" name="annee_formation">
																	{% for annee_formation in range("now"|date("Y"),1950) %}
																		<option value="{{ annee_formation }}"> {{ annee_formation }}</option>
																	{% endfor %}
																</select>
															</div>
														
															<div class="form-group">
																<label for="url_formation">Site web</label>
																{{ form_errors(certificationForm1.url_formation) }}
																{{ form_widget(certificationForm1.url_formation) }}
															</div>
															<div class="form-group col-md-12">
																<input class="btn btn-md btn-dark" type="submit" value="Validerr">
															</div>
														{{ form_end(certificationForm1) }}
														</div>

														<div id="Certification-2" class="tab-pane fade pdd-horizon-10 fade">
														{{ form_start(certificationForm2) }}
														{{ form_errors(certificationForm2) }}
														{{ form_widget(certificationForm2.type,{value :'certification2'}) }}

															<div class="form-group">
																<label for="diplome">Intitulé de la certification*</label>
																{{ form_errors(certificationForm2.diplome) }}
																{{ form_widget(certificationForm2.diplome) }}
															</div>

															<div class="form-group">
																<label for="etablissement">Etablissement*</label>
																{{ form_errors(certificationForm2.etablissement) }}
																{{ form_widget(certificationForm2.etablissement) }}
															</div>

															<div class="form-group">
																<label for="specialite">Spécialité</label>
																{{ form_errors(certificationForm2.specialite) }}
																{{ form_widget(certificationForm2.specialite) }}
															</div>

															<div class="form-group">
																<label for="lieu">Localisation</label>
																{{ form_errors(certificationForm2.lieu) }}
																{{ form_widget(certificationForm2.lieu) }}
															</div>

															<div class="form-group">
																<label for="date_formation">Année d'obtention de la certification* : </label>
																<select class="" name="annee_formation">
																	{% for annee_formation in range("now"|date("Y"),1950) %}
																		<option value="{{ annee_formation }}"> {{ annee_formation }}</option>
																	{% endfor %}
																</select>
															</div>

															<div class="form-group">
																<label for="url_formation">Site web</label>
																{{ form_errors(certificationForm2.url_formation) }}
																{{ form_widget(certificationForm2.url_formation) }}
															</div>
															<div class="form-group col-md-12">
																<input class="btn btn-md btn-dark" type="submit" value="Validerr">
															</div>
														{{ form_end(certificationForm2) }}
														</div>

														<div id="Certification-3" class="tab-pane fade pdd-horizon-10 fade">
														{{ form_start(certificationForm3) }}
														{{ form_errors(certificationForm3) }}
														{{ form_widget(certificationForm3.type,{value :'certification3'}) }}

															<div class="form-group">
																<label for="diplome">Intitulé de la certification*</label>
																{{ form_errors(certificationForm3.diplome) }}
																{{ form_widget(certificationForm3.diplome) }}
															</div>

															<div class="form-group">
																<label for="etablissement">Etablissement*</label>
																{{ form_errors(certificationForm3.etablissement) }}
																{{ form_widget(certificationForm3.etablissement) }}
															</div>

															<div class="form-group">
																<label for="specialite">Spécialité</label>
																{{ form_errors(certificationForm3.specialite) }}
																{{ form_widget(certificationForm3.specialite) }}
															</div>

															<div class="form-group">
																<label for="lieu">Localisation</label>
																{{ form_errors(certificationForm3.lieu) }}
																{{ form_widget(certificationForm3.lieu) }}
															</div>

															<div class="form-group">
																<label for="date_formation">Année d'obtention de la certification* : </label>
																<select class="" name="annee_formation">
																	{% for annee_formation in range("now"|date("Y"),1950) %}
																		<option value="{{ annee_formation }}"> {{ annee_formation }}</option>
																	{% endfor %}
																</select>
															</div>

															<div class="form-group">
																<label for="url_formation">Site web</label>
																{{ form_errors(certificationForm3.url_formation) }}
																{{ form_widget(certificationForm3.url_formation) }}
															</div>
															<div class="form-group col-md-12">
																<input class="btn btn-md btn-dark" type="submit" value="Validerr">
															</div>
														{{ form_end(certificationForm3) }}
														</div>
													</div>
												</div>
											</div>
										</div>
										<!-- Fin certification -->

										<!-- Partie langues -->
										<div class="panel panel-default">
											<div class="panel-heading">
												<span class="panel-title">
												<a data-toggle="collapse" class="collapsed" href="#collapse5">
												<i class="ei ei-microphone"></i> Langues étrangères</a>
												</span>
											</div>
											<div id="collapse5" class="panel-collapse collapse">
												<div class="panel-body">
													<ul class="nav nav-tabs tab-style-1">
														<li class="active"><a data-toggle="tab" href="#Langue-1">Langue étrangère 1</a></li>
														<li><a data-toggle="tab" href="#Langue-2">Langue étrangère 2</a></li>
														<li><a data-toggle="tab" href="#Langue-3">Langue étrangère 3</a></li>
													</ul>
													<div class="tab-content">
														<div id="Langue-1" class="tab-pane fade pdd-horizon-10 in active">
														{{ form_start(langueForm1) }}
														{{ form_errors(langueForm1) }}
														{{ form_widget(langueForm1.type,{value :'langue1'}) }}

															<div class="form-group">
																<label for="nom">Langue</label>
																{{ form_errors(langueForm1.nom) }}
																{{ form_widget(langueForm1.nom) }}
															</div>

															<div class="form-group">
																<label for="niveau">Votre niveau de 1 à 100 : *</label>
																<!-- <input type="text" id="langue_1_niveau"> -->
																<span id="slider1value"></span><span> %</span>
																<div style="max-width:250px" id="slider1"></div>
															</div>

															<div class="form-group col-md-12">
																<input class="btn btn-md btn-dark" type="submit" value="Valider">
															</div>
														{{ form_end(langueForm1) }}
														</div>

														<div id="Langue-2" class="tab-pane fade pdd-horizon-10 fade">
														{{ form_start(langueForm2) }}
														{{ form_errors(langueForm2) }}
														{{ form_widget(langueForm2.type,{value :'langue2'}) }}

															<div class="form-group">
																<label for="nom">Langue</label>
																{{ form_errors(langueForm2.nom) }}
																{{ form_widget(langueForm2.nom) }}
															</div>

															<div class="form-group">
																<label for="niveau">Votre niveau de 1 à 100 : *</label>
																<!-- <input type="text" id="langue_1_niveau"> -->
																<span id="slider2value"></span><span> %</span>
																<div style="max-width:250px" id="slider2"></div>
															</div>

															<div class="form-group col-md-12">
																<input class="btn btn-md btn-dark" type="submit" value="Valider">
															</div>
														{{ form_end(langueForm2) }}
														</div>

														<div id="Langue-3" class="tab-pane fade pdd-horizon-10 fade">
														{{ form_start(langueForm3) }}
														{{ form_errors(langueForm3) }}
														{{ form_widget(langueForm3.type,{value :'langue3'}) }}

															<div class="form-group">
																<label for="nom">Langue</label>
																{{ form_errors(langueForm3.nom) }}
																{{ form_widget(langueForm3.nom) }}
															</div>

															<div class="form-group">
																<label for="niveau">Votre niveau de 1 à 100 : *</label>
																<!-- <input type="text" id="langue_1_niveau"> -->
																<span id="slider3value"></span><span> %</span>
																<div style="max-width:250px" id="slider3"></div>
															</div>

															<div class="form-group col-md-12">
																<input class="btn btn-md btn-dark" type="submit" value="Valider">
															</div>
														{{ form_end(langueForm3) }}
														</div>	
													</div>
												</div>
											</div>
										</div>									
										<!-- Fin Partie langues -->

										<!-- Partie bénévolat -->
										<div class="panel panel-default">
											<div class="panel-heading">
												<span class="panel-title">
												<a data-toggle="collapse" class="collapsed" href="#collapse6">
												<i class="ei ei-hand"></i> Bénévolat</a>
												</span>
											</div>
											<div id="collapse6" class="panel-collapse collapse">
												<div class="panel-body">
													<ul class="nav nav-tabs tab-style-1">
														<li class="active"><a data-toggle="tab" href="#Benevolat-1">Bénévolat 1</a></li>
														<li><a data-toggle="tab" href="#Benevolat-2">Bénévolat 2</a></li>
														<li><a data-toggle="tab" href="#Benevolat-3">Bénévolat 3</a></li>
													</ul>
													<div class="tab-content">
														<div id="Benevolat-1" class="tab-pane fade pdd-horizon-10 in active">
														{{ form_start(benevolatForm1) }}
														{{ form_errors(benevolatForm1) }}
														{{ form_widget(experienceForm2.type,{value :'benevolat1'}) }}

															<div class="form-group">
																<label for="nom_benevolat">Nom de la structure*</label>
																{{ form_errors(benevolatForm1.nom) }}
																{{ form_widget(benevolatForm1.nom) }}
															</div>

															<div class="form-group">
																<label for="secteur_benevolat">Secteur*</label>
																{{ form_errors(benevolatForm1.secteur) }}
																{{ form_widget(benevolatForm1.secteur) }}
															</div>

															<div class="form-group">
																<label for="effectif_benevolat">Effectifs :</label>
																{{ form_errors(benevolatForm1.effectif) }}
																{{ form_widget(benevolatForm1.effectif) }}
															</div>

															<div class="form-group">
																<label for="url_benevolat">Site web</label>
																{{ form_errors(benevolatForm1.url_experience) }}
																{{ form_widget(benevolatForm1.url_experience) }}
															</div>
															<br/>

															<div class="form-group">
																<label for="poste">Intitulé du poste*</label>
																{{ form_errors(benevolatForm1.poste) }}
																{{ form_widget(benevolatForm1.poste) }}
															</div>

															<div class="form-group">
																<label for="role">Rôle dans la structure*</label>
																{{ form_errors(benevolatForm1.role) }}
																{{ form_widget(benevolatForm1.role) }}
															</div>
															<div class="form-group">
																<label for="lieu_benevolat">Localisation du poste</label>
																{{ form_errors(benevolatForm1.lieu) }}
																{{ form_widget(benevolatForm1.lieu) }}
															</div>

															<div class="form-group">
																<label for="Duree">Durée du poste* : </label>
																<span>de </span>
																{{ form_errors(benevolatForm1.date_debut) }}
																{{ form_widget(benevolatForm1.date_debut) }}


																<select class="" name="annee_debut">
																	{% for annee_debut in range("now"|date("Y"),1950) %}
																		<option value="{{ annee_debut }}"> {{ annee_debut }}</option>
																	{% endfor %}
																</select>

																<span>à </span>

																	{{ form_errors(benevolatForm1.date_fin) }}
																	{{ form_widget(benevolatForm1.date_fin) }}

																<select class="" name="annee_fin">
																	{% for annee_fin in range("now"|date("Y"),1950) %}
																		<option value="{{ annee_fin }}"> {{ annee_fin }}</option>
																	{% endfor %}
																</select>
															</div>

															<div class="form-group">
																<label for="responsabilite">Responsabilités* :</label><br />
																{{ form_errors(benevolatForm1.responsabilite1) }}
																{{ form_widget(benevolatForm1.responsabilite1) }}
																{{ form_errors(benevolatForm1.responsabilite2) }}
																{{ form_widget(benevolatForm1.responsabilite2) }}
																{{ form_errors(benevolatForm1.responsabilite3) }}
																{{ form_widget(benevolatForm1.responsabilite3) }}
																{{ form_errors(benevolatForm1.responsabilite4) }}
																{{ form_widget(benevolatForm1.responsabilite4) }}
																{{ form_errors(benevolatForm1.responsabilite5) }}
																{{ form_widget(benevolatForm1.responsabilite5) }}
															</div>

															<div class="form-group">
																<label for="reussite">Réussites / accomplissements* :</label><br />
																{{ form_errors(benevolatForm1.realisation1) }}
																{{ form_widget(benevolatForm1.realisation1) }}
																{{ form_errors(benevolatForm1.realisation2) }}
																{{ form_widget(benevolatForm1.realisation2) }}
																{{ form_errors(benevolatForm1.realisation3) }}
																{{ form_widget(benevolatForm1.realisation3) }}
																{{ form_errors(benevolatForm1.realisation4) }}
																{{ form_widget(benevolatForm1.realisation4) }}
																{{ form_errors(benevolatForm1.realisation5) }}
																{{ form_widget(benevolatForm1.realisation5) }}
															</div>

															<div class="form-group col-md-12">
																<input class="btn btn-md btn-dark" type="submit" value="Valider">
															</div>
														{{ form_end(benevolatForm1) }}
														</div>

														<div id="Benevolat-2" class="tab-pane fade pdd-horizon-10 fade">
														{{ form_start(benevolatForm2) }}
														{{ form_errors(benevolatForm2) }}
														{{ form_widget(experienceForm2.type,{value :'benevolat2'}) }}

															<div class="form-group">
																<label for="nom_benevolat">Nom de la structure*</label>
																{{ form_errors(benevolatForm2.nom) }}
																{{ form_widget(benevolatForm2.nom) }}
															</div>

															<div class="form-group">
																<label for="secteur_benevolat">Secteur*</label>
																{{ form_errors(benevolatForm2.secteur) }}
																{{ form_widget(benevolatForm2.secteur) }}
															</div>

															<div class="form-group">
																<label for="effectif_benevolat">Effectifs :</label>
																{{ form_errors(benevolatForm2.effectif) }}
																{{ form_widget(benevolatForm2.effectif) }}
															</div>

															<div class="form-group">
																<label for="url_benevolat">Site web</label>
																{{ form_errors(benevolatForm2.url_experience) }}
																{{ form_widget(benevolatForm2.url_experience) }}
															</div>
															<br/>

															<div class="form-group">
																<label for="poste">Intitulé du poste*</label>
																{{ form_errors(benevolatForm2.poste) }}
																{{ form_widget(benevolatForm2.poste) }}
															</div>

															<div class="form-group">
																<label for="role">Rôle dans la structure*</label>
																{{ form_errors(benevolatForm2.role) }}
																{{ form_widget(benevolatForm2.role) }}
															</div>
															<div class="form-group">
																<label for="lieu_benevolat">Localisation du poste</label>
																{{ form_errors(benevolatForm2.lieu) }}
																{{ form_widget(benevolatForm2.lieu) }}
															</div>

															<div class="form-group">
																<label for="Duree">Durée du poste* : </label>
																<span>de </span>
																{{ form_errors(benevolatForm2.date_debut) }}
																{{ form_widget(benevolatForm2.date_debut) }}


																<select class="" name="annee_debut">
																	{% for annee_debut in range("now"|date("Y"),1950) %}
																		<option value="{{ annee_debut }}"> {{ annee_debut }}</option>
																	{% endfor %}
																</select>

																<span>à </span>

																	{{ form_errors(benevolatForm2.date_fin) }}
																	{{ form_widget(benevolatForm2.date_fin) }}

																<select class="" name="annee_fin">
																	{% for annee_fin in range("now"|date("Y"),1950) %}
																		<option value="{{ annee_fin }}"> {{ annee_fin }}</option>
																	{% endfor %}
																</select>
															</div>

															<div class="form-group">
																<label for="responsabilite">Responsabilités* :</label><br />
																{{ form_errors(benevolatForm2.responsabilite1) }}
																{{ form_widget(benevolatForm2.responsabilite1) }}
																{{ form_errors(benevolatForm2.responsabilite2) }}
																{{ form_widget(benevolatForm2.responsabilite2) }}
																{{ form_errors(benevolatForm2.responsabilite3) }}
																{{ form_widget(benevolatForm2.responsabilite3) }}
																{{ form_errors(benevolatForm2.responsabilite4) }}
																{{ form_widget(benevolatForm2.responsabilite4) }}
																{{ form_errors(benevolatForm2.responsabilite5) }}
																{{ form_widget(benevolatForm2.responsabilite5) }}
															</div>

															<div class="form-group">
																<label for="reussite">Réussites / accomplissements* :</label><br />
																{{ form_errors(benevolatForm2.realisation1) }}
																{{ form_widget(benevolatForm2.realisation1) }}
																{{ form_errors(benevolatForm2.realisation2) }}
																{{ form_widget(benevolatForm2.realisation2) }}
																{{ form_errors(benevolatForm2.realisation3) }}
																{{ form_widget(benevolatForm2.realisation3) }}
																{{ form_errors(benevolatForm2.realisation4) }}
																{{ form_widget(benevolatForm2.realisation4) }}
																{{ form_errors(benevolatForm2.realisation5) }}
																{{ form_widget(benevolatForm2.realisation5) }}
															</div>

															<div class="form-group col-md-12">
																<input class="btn btn-md btn-dark" type="submit" value="Valider">
															</div>
														{{ form_end(benevolatForm2) }}
														</div>

														<div id="Benevolat-3" class="tab-pane fade pdd-horizon-10 fade">
														{{ form_start(benevolatForm3) }}
														{{ form_errors(benevolatForm3) }}
														{{ form_widget(experienceForm2.type,{value :'benevolat3'}) }}

															<div class="form-group">
																<label for="nom_benevolat">Nom de la structure*</label>
																{{ form_errors(benevolatForm3.nom) }}
																{{ form_widget(benevolatForm3.nom) }}
															</div>

															<div class="form-group">
																<label for="secteur_benevolat">Secteur*</label>
																{{ form_errors(benevolatForm3.secteur) }}
																{{ form_widget(benevolatForm3.secteur) }}
															</div>

															<div class="form-group">
																<label for="effectif_benevolat">Effectifs :</label>
																{{ form_errors(benevolatForm3.effectif) }}
																{{ form_widget(benevolatForm3.effectif) }}
															</div>

															<div class="form-group">
																<label for="url_benevolat">Site web</label>
																{{ form_errors(benevolatForm3.url_experience) }}
																{{ form_widget(benevolatForm3.url_experience) }}
															</div>
															<br/>

															<div class="form-group">
																<label for="poste">Intitulé du poste*</label>
																{{ form_errors(benevolatForm3.poste) }}
																{{ form_widget(benevolatForm3.poste) }}
															</div>

															<div class="form-group">
																<label for="role">Rôle dans la structure*</label>
																{{ form_errors(benevolatForm3.role) }}
																{{ form_widget(benevolatForm3.role) }}
															</div>
															<div class="form-group">
																<label for="lieu_benevolat">Localisation du poste</label>
																{{ form_errors(benevolatForm3.lieu) }}
																{{ form_widget(benevolatForm3.lieu) }}
															</div>

															<div class="form-group">
																<label for="Duree">Durée du poste* : </label>
																<span>de </span>
																{{ form_errors(benevolatForm3.date_debut) }}
																{{ form_widget(benevolatForm3.date_debut) }}


																<select class="" name="annee_debut">
																	{% for annee_debut in range("now"|date("Y"),1950) %}
																		<option value="{{ annee_debut }}"> {{ annee_debut }}</option>
																	{% endfor %}
																</select>

																<span>à </span>

																	{{ form_errors(benevolatForm3.date_fin) }}
																	{{ form_widget(benevolatForm3.date_fin) }}

																<select class="" name="annee_fin">
																	{% for annee_fin in range("now"|date("Y"),1950) %}
																		<option value="{{ annee_fin }}"> {{ annee_fin }}</option>
																	{% endfor %}
																</select>
															</div>

															<div class="form-group">
																<label for="responsabilite">Responsabilités* :</label><br />
																{{ form_errors(benevolatForm3.responsabilite1) }}
																{{ form_widget(benevolatForm3.responsabilite1) }}
																{{ form_errors(benevolatForm3.responsabilite2) }}
																{{ form_widget(benevolatForm3.responsabilite2) }}
																{{ form_errors(benevolatForm3.responsabilite3) }}
																{{ form_widget(benevolatForm3.responsabilite3) }}
																{{ form_errors(benevolatForm3.responsabilite4) }}
																{{ form_widget(benevolatForm3.responsabilite4) }}
																{{ form_errors(benevolatForm3.responsabilite5) }}
																{{ form_widget(benevolatForm3.responsabilite5) }}
															</div>

															<div class="form-group">
																<label for="reussite">Réussites / accomplissements* :</label><br />
																{{ form_errors(benevolatForm3.realisation1) }}
																{{ form_widget(benevolatForm3.realisation1) }}
																{{ form_errors(benevolatForm3.realisation2) }}
																{{ form_widget(benevolatForm3.realisation2) }}
																{{ form_errors(benevolatForm3.realisation3) }}
																{{ form_widget(benevolatForm3.realisation3) }}
																{{ form_errors(benevolatForm3.realisation4) }}
																{{ form_widget(benevolatForm3.realisation4) }}
																{{ form_errors(benevolatForm3.realisation5) }}
																{{ form_widget(benevolatForm3.realisation5) }}
															</div>

															<div class="form-group col-md-12">
																<input class="btn btn-md btn-dark" type="submit" value="Valider">
															</div>
														{{ form_end(benevolatForm3) }}
														</div>
													</div>
												</div>
											</div>
										</div>
										<!-- Fin Partie bénévolat -->

										<!-- Partie informations diverses -->
										<div class="panel panel-default">
											<div class="panel-heading">
												<span class="panel-title">
												<a data-toggle="collapse" class="collapsed" href="#collapse7">
												<i class="ei ei-human-resources"></i> Informations diverses</a>
												</span>
											</div>
											<div id="collapse7" class="panel-collapse collapse">
												
													<div class="row mrg-top-70">
														<div class="col-md-10 col-md-offset-1">
														<div class="text-center">
															<h3 class="mrg-btm-40">Informations diverses</h3>
														</div>
														<div class="card">
															<ul class="nav nav-tabs tab-style-4 item-4">
																<li class="active"><a data-toggle="tab" href="#s4-option-1"><i class="display-block ei ei-human-resources"></i>Description</a></li>
																	<li><a data-toggle="tab" href="#s4-option-2"><i class="ei ei-favorite-heart"></i>Intérêts</a></li>
																<li><a data-toggle="tab" href="#s4-option-3"><i class="ei ei-departures"></i>Voyages</a></li>
																<li><a data-toggle="tab" href="#s4-option-4"><i class="ei ei-id-card-alt"></i>Divers</a></li>
															</ul>

															<div class="tab-content pdd-horizon-30">	
																<!-- Partie AutreInfo Sous-partie description -->
																<div id="s4-option-1" class="tab-pane fade in active">
																	<div class="panel-body">
																	{{ form_start(autre_infoForm1) }}
																	{{ form_errors(autre_infoForm1) }}
																	{{ form_widget(autre_infoForm1.type,{value :'info'}) }}
																		<h4 class="no-mrg-top mrg-btm-20">Description personnelle</h4>
																		<div class="form-group">
																			<label for="description">Décrivez vous en quelques mots ! Et essayez de répondre à la question épineuse de pourquoi voudriez vous travailler avec vous même ?</label>
																			{{ form_errors(autre_infoForm1.description) }}
																			{{ form_widget(autre_infoForm1.description) }}
																		</div>
																		<div class="form-group col-md-12">
																			<input class="btn btn-md btn-dark" type="submit" value="Valider">
																		</div>
																	{{ form_end(autre_infoForm1) }}
																	</div>
																</div>																
																<!-- Fin sous-partie description -->
															
																<!-- Sous-partie passion -->
																<div id="s4-option-2" class="tab-pane fade">
																	<div class="panel-body">
																		<ul class="nav nav-tabs tab-style-1">
																			<li class="active"><a data-toggle="tab" href="#Interet-1">Intérêt 1</a></li>
																			<li><a data-toggle="tab" href="#Interet-2">Intérêt 2</a></li>
																			<li><a data-toggle="tab" href="#Interet-3">Intérêt 3</a></li>
																		</ul>
																		<div class="tab-content">
																			<div id="Interet-1" class="tab-pane fade pdd-horizon-10 in active">
																			{{ form_start(passionForm1) }}
																			{{ form_errors(passionForm1) }}
																			{{ form_widget(autre_infoForm1.type,{value :'centre_interet1'}) }}
																				<h4 class="no-mrg-top mrg-btm-20">Centre d'intérêt 1</h4>
																				<div class="form-group">
																					<label for="nom"></label>
																					{{ form_errors(passionForm1.nom) }}
																					{{ form_widget(passionForm1.nom) }}
																				</div>
																				<div class="form-group">
																					<label for="niveau">Votre niveau de pratique</label>
																					<span id="slider4value"></span><span> %</span>
																					<div style="max-width:250px" id="slider4"></div>
																				</div>
																				<div class="form-group col-md-12">
																					<input class="btn btn-md btn-dark" type="submit" value="Valider">
																				</div>
																			{{ form_end(passionForm1) }}
																			</div>

																			<div id="Interet-2" class="tab-pane fade pdd-horizon-10 in active">
																			{{ form_start(passionForm2) }}
																			{{ form_errors(passionForm2) }}
																			{{ form_widget(autre_infoForm1.type,{value :'centre_interet2'}) }}
																				<h4 class="no-mrg-top mrg-btm-20">Centre d'intérêt 2</h4>
																				<div class="form-group">
																					<label for="nom"></label>
																					{{ form_errors(passionForm2.nom) }}
																					{{ form_widget(passionForm2.nom) }}
																				</div>
																				<div class="form-group">
																					<label for="niveau">Votre niveau de pratique</label>
																					<span id="slider5value"></span><span> %</span>
																					<div style="max-width:250px" id="slider5"></div>
																				</div>
																				<div class="form-group col-md-12">
																					<input class="btn btn-md btn-dark" type="submit" value="Valider">
																				</div>
																			{{ form_end(passionForm2) }}
																			</div>

																			<div id="Interet-3" class="tab-pane fade pdd-horizon-10 in active">
																			{{ form_start(passionForm3) }}
																			{{ form_errors(passionForm3) }}
																			{{ form_widget(autre_infoForm1.type,{value :'centre_interet3'}) }}
																				<h4 class="no-mrg-top mrg-btm-20">Centre d'intérêt 3</h4>
																				<div class="form-group">
																					<label for="nom"></label>
																					{{ form_errors(passionForm3.nom) }}
																					{{ form_widget(passionForm3.nom) }}
																				</div>
																				<div class="form-group">
																					<label for="niveau">Votre niveau de pratique</label>
																					<span id="slider6value"></span><span> %</span>
																					<div style="max-width:250px" id="slider6"></div>
																				</div>
																				<div class="form-group col-md-12">
																					<input class="btn btn-md btn-dark" type="submit" value="Valider">
																				</div>
																			{{ form_end(passionForm3) }}
																			</div>
																		</div>
																	</div>
																</div>
																<!-- Fin Sous-partie passion -->														

																<!-- Sous-partie voyages -->
																<div id="s4-option-3" class="tab-pane fade">
																	<div class="panel-body">
																	{{ form_start(autre_infoForm2) }}
																	{{ form_errors(autre_infoForm2) }}
																	{{ form_widget(autre_infoForm2.type,{value :'voyage'}) }}
																		<h4 class="no-mrg-top mrg-btm-20">Voyages</h4>
																		<div class="form-group">
																			<label for="description">Si vous avez voyagé, indiquez nous vos dernières destinations</label>
																			{{ form_errors(autre_infoForm2.description) }}
																			{{ form_widget(autre_infoForm2.description) }}
																		</div>
																		<div class="form-group col-md-12">
																			<input class="btn btn-md btn-dark" type="submit" value="Valider">
																		</div>
																	{{ form_end(autre_infoForm2) }}
																	</div>
																</div>
																<!-- Fin Sous-partie voyages -->

																<!-- Sous-partie informations complémentaires -->
																<div id="s4-option-4" class="tab-pane fade">
																	<div class="panel-body">
																	{{ form_start(autre_infoForm3) }}
																	{{ form_errors(autre_infoForm3) }}
																	{{ form_widget(autre_infoForm3.type,{value :'divers'}) }}
																		<h4 class="no-mrg-top mrg-btm-20">Informations complémentaires</h4>
																		<div class="form-group">
																			<label for="description">Informations diverses que vous souhaitez nous communiquer par rapport à votre CV</label>
																			{{ form_errors(autre_infoForm3.description) }}
																			{{ form_widget(autre_infoForm3.description) }}	
																		</div>
																		<div class="form-group col-md-12">
																			<input class="btn btn-md btn-dark" type="submit" value="Valider">
																		</div>
																	{{ form_end(autre_infoForm3) }}
																	</div>
																</div>
																<!-- Fin Sous-partie informations complémentaires -->
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
										<!-- Fin Partie informations diverses -->
									</div>
								</div>

								<div class="form-group">
									<ul class="list-inline pull-right">
			                            <li><a href="{{ path('pimpit') }}"><button type="button" class="btn btn-default prev-step">Etape précédente</button></a></li>
			                            <li><a href="{{ path('template_options') }}"><button type="button" class="btn btn-md btn-dark next step">Etape suivante</button></a></li>
			                        </ul>
			                    </div>
							</div>
						</div>
					</div>
				</div>
			<!-- Fin formulaire -->

        </div>
    </section>
   </div>
</div>
<!-- Fin form wizard -->

{% endblock %}
