{% extends "layout.html.twig" %}

{% block content %}

	 <!-- Page Tittle Start -->
		<section class="page-tittle page-tittle-lg parallax-bg dark-overlay">
			<img class="parallax-img no-mobile-parallax" src="assets/images/bg-18.jpg" alt="" data-parallax='{"y": 150}'>
			<div class="container">
				<div class="page-tittle-head">
					<h2>Pimpi It !</h2>
					<p>Pimper votre CV !</p>
				</div>
			    <ol class="breadcrumb pull-right mrg-top-30">
				  <li class="breadcrumb-item"><a href="#">Elements</a></li>
				  <li class="breadcrumb-item active">Forms</li>
				</ol>
			</div>
		</section>
        <!-- Page Tittle End -->

		<!-- Test form en GET et uniquement le prénom en required : -->
		<section class="section-1">
			<div class="container">
				<div class="row">
					<h2 class="mrg-btm-30">Formulaire CV</h2>

					<form class="form" method="POST">

						<h2>Sinon, vous pouvez nous les donner en dessous :</h2>

						<fieldset>
							<h3>Informations diverses :</h3>
							{% if cvForm %}
							{{ form_start(cvForm) }}
							<div class="form-group">
								<label for="situation">Situation familiale :</label>
								{{ form_errors(cvForm.famille) }}
								{{ form_widget(cvForm.famille) }}
							</div>

							<div class="form-group">
								{{ form_errors(cvForm.nationalite) }}
								{{ form_widget(cvForm.nationalite) }}
								<label for="nationalite"></label>
							</div>

							<div class="form-group">
								{{ form_errors(cvForm.permis_travail) }}
								{{ form_widget(cvForm.permis_travail) }}

								{{ form_errors(cvForm.permis_conduire) }}
								{{ form_widget(cvForm.permis_conduire) }}

						</fieldset>

<!--  PARTIE EXPERIENCE -->

						<fieldset>
							<h3>Votre expérience :</h3>

								<h4>Entreprise :</h4>

								<div class="form-group">
									{{ form_errors(cvForm.nom) }}
									{{ form_widget(cvForm.nom) }}
									<label for="nom"></label>
								</div>

								<div class="form-group">
									<label>Secteur : *</label>
									{{ form_errors(cvForm.secteur) }}
									{{ form_widget(cvForm.secteur) }}
								</div>

								<div class="form-group">
									{{ form_errors(cvForm.description) }}
									{{ form_widget(cvForm.description) }}
									<label for="produits_services"></label>
								</div>

								<div class="form-group">
									{{ form_errors(cvForm.ca) }}
									{{ form_widget(cvForm.ca) }}
									<label for="ca"></label>
								</div>

								<div class="form-group">
									<label for="effectif">Effectif :</label>
									{{ form_errors(cvForm.effectif) }}
									{{ form_widget(cvForm.effectif) }}
								</div>

								<div class="form-group">
									{{ form_errors(cvForm.url_entreprise) }}
									{{ form_widget(cvForm.url_entreprise) }}
									<label for="url_entreprise"></label>
								</div>
								<br/>

								<div class="form-group">
									{{ form_errors(cvForm.poste) }}
									{{ form_widget(cvForm.poste) }}
									<label for="poste"></label>
								</div>

								<div class="form-group">
									{{ form_errors(cvForm.role) }}
									{{ form_widget(cvForm.role) }}
									<label for="role"></label>
								</div>
								<div class="form-group">
									{{ form_errors(cvForm.lieu_entreprise) }}
									{{ form_widget(cvForm.lieu_entreprise) }}
									<label for="lieu_entreprise"></label>
								</div>

								<div class="form-group">
									<label for="Duree">Durée du poste * : </label>
									<span>de </span>
									{{ form_errors(cvForm.mois_debut) }}
									{{ form_widget(cvForm.mois_debut) }}


									<select class="" name="annee_debut">
										{% for annee_debut in range("now"|date("Y"),1950) %}
											<option value="{{ annee_debut }}"> {{ annee_debut }}</option>
										{% endfor %}
									</select>

									<span>à </span>

										{{ form_errors(cvForm.mois_fin) }}
										{{ form_widget(cvForm.mois_fin) }}

									<select class="" name="annee_fin">
										{% for annee_fin in range("now"|date("Y"),1950) %}
											<option value="{{ annee_fin }}"> {{ annee_fin }}</option>
										{% endfor %}
									</select>

								</div>

								<div class="form-group">
									<label for="responsabilite">Responsabilités :</label><br />
									{{ form_errors(cvForm.reponsabilite1) }}
									{{ form_widget(cvForm.reponsabilite1) }}
									{{ form_errors(cvForm.reponsabilite2) }}
									{{ form_widget(cvForm.reponsabilite2) }}
									{{ form_errors(cvForm.reponsabilite3) }}
									{{ form_widget(cvForm.reponsabilite3) }}
									{{ form_errors(cvForm.reponsabilite4) }}
									{{ form_widget(cvForm.reponsabilite4) }}
									{{ form_errors(cvForm.reponsabilite5) }}
									{{ form_widget(cvForm.reponsabilite5) }}
								</div>

								<div class="form-group">
									<label for="reussite">Réussites / accomplissements :</label><br />
									{{ form_errors(cvForm.reussite1) }}
									{{ form_widget(cvForm.reussite1) }}
									{{ form_errors(cvForm.reussite2) }}
									{{ form_widget(cvForm.reussite2) }}
									{{ form_errors(cvForm.reussite3) }}
									{{ form_widget(cvForm.reussite3) }}
									{{ form_errors(cvForm.reussite4) }}
									{{ form_widget(cvForm.reussite4) }}
									{{ form_errors(cvForm.reussite5) }}
									{{ form_widget(cvForm.reussite5) }}

								</div>


						</fieldset>

						<fieldset>
							<h3>Formation :</h3>

							<div class="form-group">
								{{ form_errors(cvForm.diplome) }}
								{{ form_widget(cvForm.diplome) }}
								<label for="diplome"></label>
							</div>

							<div class="form-group">
								{{ form_errors(cvForm.etablissement_formation) }}
								{{ form_widget(cvForm.etablissement_formation) }}
								<label for="etablissement_formation"></label>
							</div>

							<div class="form-group">
								{{ form_errors(cvForm.specialite_formation) }}
								{{ form_widget(cvForm.specialite_formation) }}
								<label for="specialite_formation"></label>
							</div>

							<div class="form-group">
								{{ form_errors(cvForm.lieu_formation) }}
								{{ form_widget(cvForm.lieu_formation) }}
								<label for="lieu_formation"></label>
							</div>

							<div class="form-group">
								<label for="date_diplome">Année d'obtention du diplome * : </label>
								<select class="" name="annee_diplome">
									{% for annee_diplome in range("now"|date("Y"),1950) %}
										<option value="{{ annee_diplome }}"> {{ annee_diplome }}</option>
									{% endfor %}
								</select>
							</div>


							<div class="form-group">
								{{ form_errors(cvForm.url_formation) }}
								{{ form_widget(cvForm.url_formation) }}
								<label for="url_formation"></label>
							</div>

						</fieldset>

						<fieldset>
							<h3>Certification :</h3>

							<div class="form-group">
								{{ form_errors(cvForm.certification) }}
								{{ form_widget(cvForm.certification) }}
								<label for="certification"></label>
							</div>

							<div class="form-group">
								{{ form_errors(cvForm.etablissement_certification) }}
								{{ form_widget(cvForm.etablissement_certification) }}
								<label for="etablissement_certification"></label>
							</div>

							<div class="form-group">
								{{ form_errors(cvForm.specialite_certification) }}
								{{ form_widget(cvForm.specialite_certification) }}
								<label for="specialite_certification"></label>
							</div>

							<div class="form-group">
								{{ form_errors(cvForm.lieu_certification) }}
								{{ form_widget(cvForm.lieu_certification) }}
								<label for="lieu_certification"></label>
							</div>

							<div class="form-group">
								<label for="date_certification">Année d'obtention de la certification * : </label>
								<select class="" name="annee_certification">
									{% for annee_certification in range("now"|date("Y"),1950) %}
										<option value="{{ annee_certification }}"> {{ annee_certification }}</option>
									{% endfor %}
								</select>
							</div>

							<div class="form-group">
								{{ form_errors(cvForm.diplome) }}
								{{ form_widget(cvForm.diplome) }}
								<label for="url_certification"></label>
							</div>

							<div class="form-group">
								{{ form_errors(cvForm.url_certification) }}
								{{ form_widget(cvForm.url_certification) }}
								<label for="url_certification"></label>
							</div>

						</fieldset>

						<fieldset>
							<h3>Langues :</h3>

							<div class="form-group">
								{{ form_errors(cvForm.langue_maternelle) }}
								{{ form_widget(cvForm.langue_maternelle) }}
								<label for="langue_maternelle"></label>
							</div>

							<br />

							<div class="form-group">
								{{ form_errors(cvForm.langue_1) }}
								{{ form_widget(cvForm.langue_1) }}
								<label for="langue_1"></label>
							</div>

							<div class="form-group">
								<label for="langue_1_niveau">Votre niveau de 1 à 100 : *</label>
								<!-- <input type="text" id="langue_1_niveau"> -->
								<span id="slider1value"></span><span> %</span>
								<div style="max-width:250px" id="slider1"></div>

							</div>

							<div class="form-group">
								{{ form_errors(cvForm.langue_score_toeic) }}
								{{ form_widget(cvForm.langue_score_toeic) }}
								<label for="langue_score_toeic"></label>
								{{ form_errors(cvForm.langue_score_toefl) }}
								{{ form_widget(cvForm.langue_score_toefl) }}
								<label for="langue_score_toefl"></label>
								{{ form_errors(cvForm.langue_score_ielts) }}
								{{ form_widget(cvForm.langue_score_ielts) }}
								<label for="langue_score_ielts"></label>
							</div>

						</fieldset>
						<fieldset>
							<h4>Bénévolat</h4>

							<div class="form-group">
								{{ form_errors(cvForm.nom_benevolat) }}
								{{ form_widget(cvForm.nom_benevolat) }}
								<label for="nom_benevolat"></label>
							</div>


							<div class="form-group">
								{{ form_errors(cvForm.secteur_benevolat) }}
								{{ form_widget(cvForm.secteur_benevolat) }}
								<label for="secteur_benevolat"></label>
							</div>


							<div class="form-group">
								<label for="effectif_benevolat">Effectif :</label>
								{{ form_errors(cvForm.effectif_benevolat) }}
								{{ form_widget(cvForm.effectif_benevolat) }}
							</div>

							<div class="form-group">
								{{ form_errors(cvForm.url_benevolat) }}
								{{ form_widget(cvForm.url_benevolat) }}
								<label for="url_benevolat"></label>
							</div>
							<br/>

							<div class="form-group">
								{{ form_errors(cvForm.poste_benevolat) }}
								{{ form_widget(cvForm.poste_benevolat) }}
								<label for="poste"></label>
							</div>

							<div class="form-group">
								{{ form_errors(cvForm.role_benevolat) }}
								{{ form_widget(cvForm.role_benevolat) }}
								<label for="role"></label>
							</div>
							<div class="form-group">
								{{ form_errors(cvForm.lieu_benevolat) }}
								{{ form_widget(cvForm.lieu_benevolat) }}
								<label for="lieu_benevolat"></label>
							</div>

							<div class="form-group">
								<label for="Duree">Durée du poste * : </label>
								<span>de </span>
								{{ form_errors(cvForm.mois_debut) }}
								{{ form_widget(cvForm.mois_debut) }}


								<select class="" name="annee_debut">
									{% for annee_debut in range("now"|date("Y"),1950) %}
										<option value="{{ annee_debut }}"> {{ annee_debut }}</option>
									{% endfor %}
								</select>

								<span>à </span>

									{{ form_errors(cvForm.mois_fin) }}
									{{ form_widget(cvForm.mois_fin) }}

								<select class="" name="annee_fin">
									{% for annee_fin in range("now"|date("Y"),1950) %}
										<option value="{{ annee_fin }}"> {{ annee_fin }}</option>
									{% endfor %}
								</select>

							</div>

							<div class="form-group">
								<label for="responsabilite">Responsabilités :</label><br />
								{{ form_errors(cvForm.reponsabilite_benevolat1) }}
								{{ form_widget(cvForm.reponsabilite_benevolat1) }}
								{{ form_errors(cvForm.reponsabilite_benevolat2) }}
								{{ form_widget(cvForm.reponsabilite_benevolat2) }}
								{{ form_errors(cvForm.reponsabilite_benevolat3) }}
								{{ form_widget(cvForm.reponsabilite_benevolat3) }}
								{{ form_errors(cvForm.reponsabilite_benevolat4) }}
								{{ form_widget(cvForm.reponsabilite_benevolat4) }}
								{{ form_errors(cvForm.reponsabilite_benevolat5) }}
								{{ form_widget(cvForm.reponsabilite_benevolat5) }}
							</div>

							<div class="form-group">
								<label for="reussite">Réussites / accomplissements :</label><br />
								{{ form_errors(cvForm.reussite_benevolat1) }}
								{{ form_widget(cvForm.reussite_benevolat1) }}
								{{ form_errors(cvForm.reussite_benevolat2) }}
								{{ form_widget(cvForm.reussite_benevolat2) }}
								{{ form_errors(cvForm.reussite_benevolat3) }}
								{{ form_widget(cvForm.reussite_benevolat3) }}
								{{ form_errors(cvForm.reussite_benevolat4) }}
								{{ form_widget(cvForm.reussite_benevolat4) }}
								{{ form_errors(cvForm.reussite_benevolat5) }}
								{{ form_widget(cvForm.reussite_benevolat5) }}

							</div>

						<fieldset>
							<h3>Informations personnelles</h3>

							{{ form_errors(cvForm.description_personnelle) }}
							{{ form_widget(cvForm.description_personnelle) }}
							<label for="description"></label>

							<br />
							<h4>Centres d'intérêt</h4>

							<div class="form-group">
								{{ form_errors(cvForm.passion) }}
								{{ form_widget(cvForm.passion) }}
								<label for="passion_1"></label>

								<label for="passion">Votre niveau de pratique</label>
								<span id="slider2value"></span><span> %</span>
								<div style="max-width:250px" id="slider2"></div>
							</div>

							<h4>Voyages</h4>

							<div class="form-group">
								{{ form_errors(cvForm.voyage) }}
								{{ form_widget(cvForm.voyage) }}
								<label for="voyages"></label>
							</div>


							<h4>Réseaux sociaux</h4>

							<div class="form-group">
								{{ form_errors(cvForm.url_linkdein) }}
								{{ form_widget(cvForm.url_linkdein) }}
								<label for="url_linkdein"></label>
							</div>
							<div class="form-group">
								{{ form_errors(cvForm.url_twitter) }}
								{{ form_widget(cvForm.url_twitter) }}
								<label for="url_twitter"></label>
							</div>
							<div class="form-group">
								{{ form_errors(cvForm.url_skype) }}
								{{ form_widget(cvForm.url_skype) }}
								<label for="url_skype"></label>
							</div>
							<div class="form-group">
								{{ form_errors(cvForm.url_perso) }}
								{{ form_widget(cvForm.url_perso) }}
								<label for="url_perso"></label>
							</div>
							<div class="form-group">
								{{ form_errors(cvForm.url_autre) }}
								{{ form_widget(cvForm.url_autre) }}
								<label for="url_autre"></label>
							</div>

							<h4>Informations diverses</h4>

							<div class="form-group">
								{{ form_errors(cvForm.infos_diverses) }}
								{{ form_widget(cvForm.infos_diverses) }}
								<label for="infos_diverses"></label>
							</div>

						</fieldset>

						<p class="submit">
							<input type="submit" name"cv" value="Envoyer"/>
						</div>
					</form>
					{{ form_end(cvForm) }}
					{% endif %}
				</div>
			</div>
		</section>
		<!-- Forms End -->

{% endblock %}
