{% extends "layout.html.twig" %}

{% block content %}
	<!-- Page Tittle Start -->
        <section class="page-tittle page-tittle-lg parallax-bg dark-overlay">
            <img class="parallax-img no-mobile-parallax" src="../../../web/images/bg-2.jpg" alt="" data-parallax='{"y": 150}'>
            <div class="container">
                <div class="page-tittle-head">
                    <h2>Options</h2>
                    <p>Choisissez vos options</p>
                </div>
            </div>
        </section>
        <!-- Page Tittle End -->



            {% if optionForm %}
            {{ form_start(optionForm) }}
       
            
            <section class="section-2 bg-gray">
            <div class="container">
                <div class="row">
                    
                    <div class="col-lg-3">
                        <div class="pricing-1">
                            <div class="pricing-status">
                                <i class="glyphicon glyphicon-list-alt"></i>
                                <h2 class="plan"><b>Nombre de page(s)</b></h2>
                                 <ul class="pricing-content">
                                <li>{{ form_errors(optionForm.nombre_page) }}</li>
                                <li>{{ form_widget(optionForm.nombre_page) }}</li>
                                </ul>

                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3">
                        <div class="pricing-1">
                            <div class="pricing-status">
                                <i class="glyphicon glyphicon-heart-empty"></i>
                                <h2 class="plan"><b>Choix du modèle</b></h2>
                                 <ul class="pricing-content">
                                <li>{{ form_errors(optionForm.modele) }}</li>
                                <li>{{ form_widget(optionForm.modele) }}</li>
                                </ul>
                            </div>
                        </div>
                    </div>


                    <div class="col-lg-3">
                        <div class="pricing-1">
                            <div class="pricing-status">
                                <i class="glyphicon glyphicon-tint"></i>
                                <h2 class="plan"><b>Couleur du modèle</b></h2>
                                 <ul class="pricing-content">
                                <li>{{ form_errors(optionForm.couleur) }}</li>
                                <li>{{ form_widget(optionForm.couleur) }}</li>
                                </ul>
                            </div>
                        </div>
                    </div>


                    <div class="col-lg-3">
                        <div class="pricing-1">
                            <div class="pricing-status">
                                <i class="glyphicon glyphicon-option-vertical"></i>
                                <h2 class="plan"><b>Puce du modèle</b></h2>
                                 <ul class="pricing-content">
                                <li>{{ form_errors(optionForm.puce) }}</li>
                                <li>{{ form_widget(optionForm.puce) }}</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                     <div class="col-lg-3">
                        <div class="pricing-1">
                            <div class="pricing-status">
                                <i class="glyphicon glyphicon-adjust"></i>
                                <h2 class="plan"><b>Arrière plan du modèle</b></h2>
                                 <ul class="pricing-content">
                                <li>{{ form_errors(optionForm.fond) }}</li>
                                <li>{{ form_widget(optionForm.fond) }}</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-lg-3">
                        <div class="pricing-1">
                            <div class="pricing-status">
                                <i class="glyphicon glyphicon-signal"></i>
                                <h2 class="plan"><b>Indicateur de performance</b></h2>
                                 <ul class="pricing-content">
                                <li>{{ form_errors(optionForm.indicateur_performance) }}</li>
                                <li>{{ form_widget(optionForm.indicateur_performance) }}</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3">
                        <div class="pricing-1">
                            <div class="pricing-status">
                                <i class="glyphicon glyphicon-sunglasses"></i>
                                <h2 class="plan"><b>Présentation des activités</b></h2>
                                 <ul class="pricing-content">
                                <li>{{ form_errors(optionForm.activite) }}</li>
                                <li>{{ form_widget(optionForm.activite) }}</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                
                    <div class="col-lg-3">
                        <div class="pricing-1">
                            <div class="pricing-status">
                                <i class="glyphicon glyphicon-thumbs-up"></i>
                                  <form action="/action_page.php" method="get" id="options">
                                    <h2 class="plan"><b>Transforme moi mon CV!</b></h2>
                                    <button type="submit" value="Valider" class="btn btn-sm btn-theme">Go</button>       
                                 </form>
                            </div>
                        </div>
                    </div>

                </div> <!-- row -->
            </div> <!-- container -->
    
            </section>

            {{ form_end(optionForm) }}
            {% endif %}

{% endblock %}