{% extends "layout.html.twig" %}

{% block content %}
<!-- Page Tittle Start -->
<section class="page-tittle page-tittle-lg parallax-bg dark-overlay">
    <img class="parallax-img no-mobile-parallax" src="{{ asset('images/bg-2.jpg') }}" alt="" data-parallax='{"y": 150}'>
    <div class="container">
        <div class="page-tittle-head">
            <h2>Template et options</h2>
            <p>Choix de votre template et de vos options graphiques</p>
        </div>
    </div>
</section>
<!-- Page Tittle End -->
      
<!-- Form wizard -->
<div class="container">
    <div class="row">
        <section>
        <div class="wizard">
            <div class="wizard-inner">
                <div class="connecting-line"></div>
                <ul class="nav nav-tabs" role="tablist">

                    <li role="presentation" class="disabled">
                        <a href="#step1" data-toggle="tab" aria-controls="step1" role="tab" title="Informations générales">
                            <span class="round-tab">
                                <i class="glyphicon glyphicon-folder-open"></i>
                            </span>
                        </a>
                    </li>

                    <li role="presentation" class="disabled">
                        <a href="#step2" data-toggle="tab" aria-controls="step2" role="tab" title="Contenu de votre CV">
                            <span class="round-tab">
                                <i class="glyphicon glyphicon-pencil"></i>
                            </span>
                        </a>
                    </li>
                    <li role="presentation" class="active">
                        <a href="#step3" data-toggle="tab" aria-controls="step3" role="tab" title="Template et options">
                            <span class="round-tab">
                                <i class="glyphicon glyphicon-picture"></i>
                            </span>
                        </a>
                    </li>

                    <li role="presentation" class="disabled">
                        <a href="#complete" data-toggle="tab" aria-controls="complete" role="tab" title="Récapitulatif">
                            <span class="round-tab">
                                <i class="glyphicon glyphicon-ok"></i>
                            </span>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="row mrg-top-50 features-block-2">
                <section class="bg-gray">
                    <div class="container">
                        <div class="row">
                            <!-- Début formulaire options -->
                            {{ form_start(optionForm) }}
                            <div class="col-md-5 col-md-offset-1 pdd-vertical-80">
                            <h2 class="heading-1 right">Personnalisez votre Cv</h2>
                                <div class="features-block-2 col-md-12 mrg-top-10"></div>
                                <div class="features-block-2 col-md-6">
                                    <i class="glyphicon glyphicon-heart-empty"></i>
                                    <div class="form-group features-info">
                                        <span class="features-tittle theme-color">Template</span>
                                        {{ form_errors(optionForm.template) }}
                                        {{ form_widget(optionForm.template) }}                                   
                                    </div>
                                </div>
                                <div class="features-block-2 col-md-6">
                                    <i class="glyphicon glyphicon-tint"></i>
                                    <div class="form-group features-info">
                                        <span class="features-tittle theme-color">Couleur</span>
                                        {{ form_errors(optionForm.couleur) }}
                                        {{ form_widget(optionForm.couleur) }}
                                    </div>
                                </div>
                                <div class="features-block-2 col-md-6">
                                    <i class="glyphicon glyphicon-option-vertical"></i>
                                    <div class="form-group features-info">
                                        <span class="features-tittle theme-color">Puce</span><br>
                                        {{ form_errors(optionForm.puce) }}
                                        {{ form_widget(optionForm.puce) }}
                                    </div>
                                </div>
                                <div class="features-block-2 col-md-6">
                                    <i class="glyphicon glyphicon-adjust"></i>
                                    <div class="form-group features-info">
                                        <span class="features-tittle theme-color">Arrière plan</span>
                                        {{ form_errors(optionForm.fond) }}
                                        {{ form_widget(optionForm.fond) }}
                                    </div>
                                </div>
                                <div class="features-block-2 col-md-6">
                                    <i class="glyphicon glyphicon-signal"></i>
                                    <div class="form-group features-info">
                                        <span class="features-tittle theme-color">Indicateurs performance</span>
                                        {{ form_errors(optionForm.indicateur_performance) }}
                                        {{ form_widget(optionForm.indicateur_performance) }}
                                    </div>
                                </div>
                                <div class="features-block-2 col-md-6">
                                    <i class="glyphicon glyphicon-sunglasses"></i>
                                    <div class="form-group features-info">
                                        <span class="features-tittle theme-color">Style activités</span>
                                        {{ form_errors(optionForm.activite) }}
                                        {{ form_widget(optionForm.activite) }}
                                    </div>
                                </div>
                                <div class="form-group col-md-12 features-info">
                                    <input class="btn btn-md btn-dark" type="submit" value="Valider">
                                </div>
                            </div>
                            {{ form_end(optionForm) }}
                            <!-- Fin formulaire options -->

                            <div id="1" class="col-md-6 templates">
                                <img class="img-responsive" src="{{ asset('images/modele-cv1.jpg') }}" alt="">
                            </div>
                            <div id="2" class="col-md-6 templates" style="display:none">
                                <img class="img-responsive" src="{{ asset('images/modele-cv2.jpg') }}" alt="">
                            </div>
                            <div id="3" class="col-md-6 templates" style="display:none">
                                <img class="img-responsive" src="{{ asset('images/modele-cv3.jpg') }}" alt="">
                            </div>
                            <div id="4" class="col-md-6 templates" style="display:none">
                                <img class="img-responsive" src="{{ asset('images/modele-cv4.jpg') }}" alt="">
                            </div>
                        </div>

            <div class="row mrg-top-50">
                <ul class="list-inline pull-right">
                    <li><a href="{{ path('pimpit_cv') }}"><button type="button" class="btn btn-default prev-step">Etape précédente</button></a></li>
                    <li><a href="{{ path('recapitulatif_commande') }}"><button type="button" class="btn btn-md btn-dark next step">Etape suivante</button></a></li>
                </ul>
            </div>
        </div>
        </section>
    </div>
</div>
<!-- Fin form wizard -->

{% endblock %}