{% extends "layout.html.twig" %}

{% block content %}
	<!-- Page Tittle Start -->
        <section class="page-tittle page-tittle-lg parallax-bg dark-overlay">
            <img class="parallax-img no-mobile-parallax" src="assets/images/bg-18.jpg" alt="" data-parallax='{"y": 150}'>
            <div class="container">
                <div class="page-tittle-head">
                    <h2>Options</h2>
                    <p>Choisissez vos options</p>
                </div>
            </div>
        </section>
        <!-- Page Tittle End -->



            {% if optionForm %}
            {{ form_start(optionForm) }}
       
            
            <section class="section-6 bg-gray">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="pricing-1">
                            <div class="pricing-status">
                                <i class="ei ei-airplane-side"></i>
                                <span>Nombre de page</span>
                                {{ form_errors(optionForm.nombre_page) }}
                                {{ form_widget(optionForm.nombre_page) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </section>

               <section class="section-6 bg-gray">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="pricing-1">
                            <div class="pricing-status">
                                <i class="ei ei-airplane-side"></i>
                                <span>Modèle</span>
                                {{ form_errors(optionForm.modele) }}
                                {{ form_widget(optionForm.modele) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </section>

            <section class="section-6 bg-gray">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="pricing-1">
                            <div class="pricing-status">
                                <i class="ei ei-rocket"></i>
                                <span>Couleur</span>
                                {{ form_errors(optionForm.couleur) }}
                                {{ form_widget(optionForm.couleur) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </section>


            <section class="section-6 bg-gray">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="pricing-1">
                            <div class="pricing-status">
                                <i class="ei ei-rocket"></i>
                                <span>Puces</span>
                                {{ form_errors(optionForm.puce) }}
                                {{ form_widget(optionForm.puce) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </section>

            <section class="section-6 bg-gray">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="pricing-1">
                            <div class="pricing-status">
                                <i class="ei ei-rocket"></i>
                                <span>Fond</span>
                                {{ form_errors(optionForm.fond) }}
                                {{ form_widget(optionForm.fond) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </section>

               <section class="section-6 bg-gray">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="pricing-1">
                            <div class="pricing-status">
                                <i class="ei ei-rocket"></i>
                                <span>Indicateur de performance</span>
                                {{ form_errors(optionForm.indicateur_performance) }}
                                {{ form_widget(optionForm.indicateur_performance) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </section>

               <section class="section-6 bg-gray">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="pricing-1">
                            <div class="pricing-status">
                                <i class="ei ei-rocket"></i>
                                {{ form_errors(optionForm.activite) }}
                                {{ form_widget(optionForm.activite) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </section>

            {{ form_end(optionForm) }}
            {% endif %}






        <!-- Pricing Table 1 Start -->
        <section class="section-1 bg-gray">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="pricing-1">
                            <div class="pricing-status">
                                <i class="ei ei-cart"></i>


                                <h2 class="plan"><b>Basic</b></h2>
                            </div>
                            <ul class="pricing-content">
                                <li class="mrg-btm-15"><span class="theme-color font-size-25">$</span><span class="theme-color price">18</span>/Month</li>
                            </ul>
                            <a class="btn btn-md btn-theme mrg-top-30">Sign up now</a>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="pricing-1 recommended">
                            <div class="pricing-status">
                                <i class="ei ei-airplane-side"></i>
                                <h2 class="plan"><b>Standard</b></h2>
                            </div>
                            <ul class="pricing-content">
                                <li class="mrg-btm-15"><span class="theme-color font-size-25">$</span><span class="theme-color price">28</span>/Month</li>
                            </ul>
                            <a class="btn btn-md btn-theme mrg-top-30">Sign up now</a>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="pricing-1">
                            <div class="pricing-status">
                                <i class="ei ei-rocket"></i>
                                <h2 class="plan"><b>Premium</b></h2>
                            </div>
                            <ul class="pricing-content">
                                <li class="mrg-btm-15"><span class="theme-color font-size-25">$</span><span class="theme-color price">38</span>/Month</li>
                            </ul>
                            <a class="btn btn-md btn-theme mrg-top-30">Sign up now</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Pricing Table 1 End -->
        
        
        <!-- Pricing Table 2 Start -->
        <section class="section-1">
            <div class="container">
                <div class="pricing-2 column-3">
                    <div class="pricing-table">
                        <div class="pricing-info">
                            <div class="pricing-status">
                                <i class="ei ei-cart"></i>
                                <div class="plan border bottom">
                                    <h2 class="mrg-btm-20">Basic</h2>
                                    <span class="mrg-btm-10"><span class="font-size-25 theme-color price"><b>$18</b></span> / Month</span>
                                    <p class="width-80 mrg-horizon-auto">Lorem Ipsum has been the industry's standard dummy text ever.</p>
                                </div>
                            </div>
                            <ul class="pricing-content">
                                <li>1 GB of Space</li>
                                <li>1 GB traffice</li>
                                <li>Forum access</li>
                                <li>Support at 3 hour</li>
                            </ul>
                        </div>
                        <div class="pricing-footer">
                            <button class="btn btn-block btn-dark no-mrg-btm">Sign Up</button>
                        </div>
                    </div>
                    <div class="pricing-table recommended">
                        <div class="pricing-info">
                            <div class="pricing-status">
                                <i class="ei ei-airplane-side"></i>
                                <div class="plan border bottom">
                                    <h2 class="mrg-btm-20">Standard</h2>
                                    <span class="mrg-btm-10"><span class="font-size-25 theme-color price"><b>$18</b></span> / Month</span>
                                    <p class="width-80 mrg-horizon-auto">Lorem Ipsum has been the industry's standard dummy text ever.</p>
                                </div>
                            </div>
                            <ul class="pricing-content">
                                <li>2 GB of Space</li>
                                <li>2 GB traffice</li>
                                <li>Forum access</li>
                                <li>Support at 7 hour</li>
                            </ul>
                        </div>
                        <div class="pricing-footer">
                            <button class="btn btn-block btn-dark no-mrg-btm">Sign Up</button>
                        </div>
                    </div>
                    <div class="pricing-table">
                        <div class="pricing-info">
                            <div class="pricing-status">
                                <i class="ei ei-rocket"></i>
                                <div class="plan border bottom">
                                    <h2 class="mrg-btm-20">Premium</h2>
                                    <span class="mrg-btm-10"><span class="font-size-25 theme-color price"><b>$18</b></span> / Month</span>
                                    <p class="width-80 mrg-horizon-auto">Lorem Ipsum has been the industry's standard dummy text ever.</p>
                                </div>
                            </div>
                            <ul class="pricing-content">
                                <li>Unlimited of Space</li>
                                <li>Unlimited traffice</li>
                                <li>Forum access</li>
                                <li>Support at 24 hour</li>
                            </ul>
                        </div>
                        <div class="pricing-footer">
                            <button class="btn btn-block btn-dark no-mrg-btm">Sign Up</button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Pricing Table 2 End -->
        
        
        <!-- Pricing Table 3 Start -->
        <section class="section-1">
            <div class="container">
                <div class="pricing-2 column-3">
                    <div class="pricing-table">
                        <div class="pricing-info no-pdd-btm">
                            <div class="pricing-status">
                                <i class="ei ei-cart"></i>
                                <div class="plan no-mrg-btm">
                                    <h2 class="mrg-btm-20">Basic</h2>
                                    <span class="mrg-btm-10"><span class="font-size-25 theme-color price"><b>$18</b></span> / Month</span>
                                    <p class="width-80 mrg-horizon-auto">Lorem Ipsum has been the industry's standard dummy text ever.</p>
                                </div>
                            </div>
                        </div>
                        <div class="pricing-footer">
                            <button class="btn btn-block btn-dark no-mrg-btm">Sign Up</button>
                        </div>
                    </div>
                    <div class="pricing-table recommended">
                        <div class="pricing-info no-pdd-btm">
                            <div class="pricing-status">
                                <i class="ei ei-airplane-side"></i>
                                <div class="plan no-mrg-btm">
                                    <h2 class="mrg-btm-20">Standard</h2>
                                    <span class="mrg-btm-10"><span class="font-size-25 theme-color price"><b>$18</b></span> / Month</span>
                                    <p class="width-80 mrg-horizon-auto">Lorem Ipsum has been the industry's standard dummy text ever.</p>
                                </div>
                            </div>
                        </div>
                        <div class="pricing-footer">
                            <button class="btn btn-block btn-dark no-mrg-btm">Sign Up</button>
                        </div>
                    </div>
                    <div class="pricing-table">
                        <div class="pricing-info no-pdd-btm">
                            <div class="pricing-status">
                                <i class="ei ei-rocket"></i>
                                <div class="plan no-mrg-btm">
                                    <h2 class="mrg-btm-20">Premium</h2>
                                    <span class="mrg-btm-10"><span class="font-size-25 theme-color price"><b>$18</b></span> / Month</span>
                                    <p class="width-80 mrg-horizon-auto">Lorem Ipsum has been the industry's standard dummy text ever.</p>
                                </div>
                            </div>
                        </div>
                        <div class="pricing-footer">
                            <button class="btn btn-block btn-dark no-mrg-btm    ">Sign Up</button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Pricing Table 3 End -->
{% endblock %}